:root {
    --control-background-active-active: var(--green-new-62);
    --control-background-active-default: var(--green-new-50);
    --control-background-active-hover: var(--green-new-55);
    --control-background-active-loading: var(--green-new-50);
    --control-background-critical-primary-active: var(--red-new-62);
    --control-background-critical-primary-default: var(--red-new-50);
    --control-background-critical-primary-hover: var(--red-new-55);
    --control-background-critical-primary-loading: var(--red-new-50);
    --control-background-critical-secondary-active: hsl(var(--opacity-20-hsl) / 0.2);
    --control-background-critical-secondary-default: hsl(var(--opacity-8-hsl) / 0.0784313725490196);
    --control-background-critical-secondary-hover: hsl(var(--opacity-16-hsl) / 0.1607843137254902);
    --control-background-critical-secondary-loading: hsl(var(--opacity-8-hsl) / 0.0784313725490196);
    --control-background-expressive-active: var(--neutral-10);
    --control-background-expressive-default: var(--neutral-1);
    --control-background-expressive-hover: var(--neutral-1);
    --control-background-expressive-loading: var(--neutral-1);
    --control-background-icon-only-active: hsl(var(--opacity-20-hsl) / 0.2);
    --control-background-icon-only-hover: hsl(var(--opacity-16-hsl) / 0.1607843137254902);
    --control-background-overlay-primary-active: var(--neutral-17);
    --control-background-overlay-primary-default: var(--neutral-1);
    --control-background-overlay-primary-hover: var(--neutral-9);
    --control-background-overlay-primary-loading: var(--neutral-1);
    --control-background-overlay-secondary-active: hsl(var(--opacity-black-48-hsl) / 0.47843137254901963);
    --control-background-overlay-secondary-default: hsl(var(--opacity-black-52-hsl) / 0.5215686274509804);
    --control-background-overlay-secondary-hover: hsl(var(--opacity-black-64-hsl) / 0.6392156862745098);
    --control-background-overlay-secondary-loading: hsl(var(--opacity-black-52-hsl) / 0.5215686274509804);
    --control-background-primary-active: var(--blurple-65);
    --control-background-primary-default: var(--blurple-50);
    --control-background-primary-hover: var(--blurple-60);
    --control-background-primary-loading: var(--blurple-50);
    --control-background-secondary-active: hsl(var(--opacity-20-hsl) / 0.2);
    --control-background-secondary-default: hsl(var(--opacity-8-hsl) / 0.0784313725490196);
    --control-background-secondary-hover: hsl(var(--opacity-16-hsl) / 0.1607843137254902);
    --control-background-secondary-loading: hsl(var(--opacity-8-hsl) / 0.0784313725490196);
    --control-border-active-active: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-active-default: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-active-hover: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-active-loading: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-critical-primary-active: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-critical-primary-default: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-critical-primary-hover: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-critical-primary-loading: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-critical-secondary-active: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-critical-secondary-default: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-critical-secondary-hover: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-critical-secondary-loading: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-expressive-active: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-border-expressive-default: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-border-expressive-hover: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-border-expressive-loading: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-border-icon-only-active: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-icon-only-hover: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-overlay-primary-active: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-border-overlay-primary-default: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-border-overlay-primary-hover: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-border-overlay-primary-loading: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-border-overlay-secondary-active: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-overlay-secondary-default: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-overlay-secondary-hover: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-overlay-secondary-loading: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-primary-active: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-primary-default: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-primary-hover: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-primary-loading: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-border-secondary-active: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-secondary-default: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-secondary-hover: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-border-secondary-loading: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-brand-foreground: var(--brand-360);
    --control-brand-foreground-new: var(--brand-360);
    --control-icon-active-active: var(--white);
    --control-icon-active-default: var(--white);
    --control-icon-active-hover: var(--white);
    --control-icon-active-loading: var(--white);
    --control-icon-critical-primary-active: var(--white);
    --control-icon-critical-primary-default: var(--white);
    --control-icon-critical-primary-hover: var(--white);
    --control-icon-critical-primary-loading: var(--white);
    --control-icon-critical-secondary-active: var(--red-new-22);
    --control-icon-critical-secondary-default: var(--red-new-22);
    --control-icon-critical-secondary-hover: var(--red-new-22);
    --control-icon-critical-secondary-loading: var(--red-new-22);
    --control-icon-expressive-active: var(--black);
    --control-icon-expressive-default: var(--black);
    --control-icon-expressive-hover: var(--black);
    --control-icon-expressive-loading: var(--black);
    --control-icon-icon-only-active: var(--neutral-1);
    --control-icon-icon-only-default: var(--neutral-16);
    --control-icon-icon-only-hover: var(--neutral-1);
    --control-icon-icon-only-loading: var(--neutral-1);
    --control-icon-overlay-primary-active: var(--black);
    --control-icon-overlay-primary-default: var(--black);
    --control-icon-overlay-primary-hover: var(--black);
    --control-icon-overlay-primary-loading: var(--black);
    --control-icon-overlay-secondary-active: var(--white);
    --control-icon-overlay-secondary-default: var(--white);
    --control-icon-overlay-secondary-hover: var(--white);
    --control-icon-overlay-secondary-loading: var(--white);
    --control-icon-primary-active: var(--white);
    --control-icon-primary-default: var(--white);
    --control-icon-primary-hover: var(--white);
    --control-icon-primary-loading: var(--white);
    --control-icon-secondary-active: var(--neutral-1);
    --control-icon-secondary-default: var(--neutral-1);
    --control-icon-secondary-hover: var(--neutral-1);
    --control-icon-secondary-loading: var(--neutral-1);
    --control-text-active-active: var(--white);
    --control-text-active-default: var(--white);
    --control-text-active-hover: var(--white);
    --control-text-active-loading: var(--white);
    --control-text-critical-primary-active: var(--white);
    --control-text-critical-primary-default: var(--white);
    --control-text-critical-primary-hover: var(--white);
    --control-text-critical-primary-loading: var(--white);
    --control-text-critical-secondary-active: var(--red-new-22);
    --control-text-critical-secondary-default: var(--red-new-22);
    --control-text-critical-secondary-hover: var(--red-new-22);
    --control-text-critical-secondary-loading: var(--red-new-22);
    --control-text-expressive-active: var(--black);
    --control-text-expressive-default: var(--black);
    --control-text-expressive-hover: var(--black);
    --control-text-expressive-loading: var(--black);
    --control-text-overlay-primary-active: var(--black);
    --control-text-overlay-primary-default: var(--black);
    --control-text-overlay-primary-hover: var(--black);
    --control-text-overlay-primary-loading: var(--black);
    --control-text-overlay-secondary-active: var(--white);
    --control-text-overlay-secondary-default: var(--white);
    --control-text-overlay-secondary-hover: var(--white);
    --control-text-overlay-secondary-loading: var(--white);
    --control-text-primary-active: var(--white);
    --control-text-primary-default: var(--white);
    --control-text-primary-hover: var(--white);
    --control-text-primary-loading: var(--white);
    --control-text-secondary-active: var(--neutral-1);
    --control-text-secondary-default: var(--neutral-1);
    --control-text-secondary-hover: var(--neutral-1);
    --control-text-secondary-loading: var(--neutral-1);
}
