.theme-dark {
    --app-frame-background: var(--neutral-78);
    --app-frame-border: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --app-message-embed-secondary-text: hsl(var(--white-hsl) / 0.7);
    --background-accent: var(--bg-2);
    --background-base-low: var(--bg-4);
    --background-base-lower: var(--bg-4);
    --background-base-lowest: var(--bg-4);
    --background-brand: var(--blurple-50);
    --background-code: var(--bg-3);
    --background-code-addition: hsl(var(--opacity-green-12-hsl) / 0.12156862745098039);
    --background-code-deletion: hsl(var(--opacity-red-12-hsl) / 0.12156862745098039);
    --background-feedback-critical: color-mix(in hsl, var(--red-2), transparent 80%);
    --background-feedback-info: color-mix(in hsl, var(--blue-2), transparent 80%);
    --background-feedback-positive: color-mix(in hsl, var(--green-2), transparent 80%);
    --background-feedback-warning: color-mix(in hsl, var(--yellow-2), transparent 80%);
    --background-mod-muted: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --background-mod-normal: var(--active);
    --background-mod-strong: var(--active-2);
    --background-mod-subtle: var(--hover);
    --background-scrim: hsl(var(--opacity-black-72-hsl) / 0.7215686274509804);
    --background-scrim-lightbox: hsl(var(--opacity-black-92-hsl) / 0.9215686274509803);
    --background-secondary-alt: var(--bg-3);
    --background-surface-high: var(--bg-3);
    --background-surface-higher: var(--bg-3);
    --background-surface-highest: var(--bg-3);
    --background-tile-gradient-pink-end: hsl(var(--illo-pink-70-hsl) / 0.3);
    --background-tile-gradient-pink-start: hsl(var(--illo-pink-50-hsl) / 0.3);
    --badge-background-default: var(--blurple-50);
    --badge-expressive-background-default: var(--neutral-1);
    --badge-expressive-text-default: var(--neutral-71);
    --badge-text-default: var(--neutral-1);
    --bg-surface-overlay-tmp: var(--neutral-64);
    --bg-surface-raised: var(--bg-3);
    --border-feedback-critical: hsl(var(--opacity-red-20-hsl) / 0.2);
    --border-focus: var(--blue-345);
    --border-muted: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --border-normal: hsl(var(--opacity-20-hsl) / 0.2);
    --border-strong: hsl(var(--opacity-44-hsl) / 0.4392156862745098);
    --border-subtle: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --button-danger-background-disabled: var(--red-new-50);
    --button-outline-brand-background-hover: var(--brand-500);
    --button-outline-brand-border-active: var(--brand-560);
    --button-outline-primary-text: var(--white);
    --card-background-default: var(--neutral-64);
    --card-primary-pressed-bg: var(--primary-645);
    --card-secondary-bg: hsl(var(--opacity-8-hsl) / 0.0784313725490196);
    --card-secondary-pressed-bg: var(--primary-645);
    --channel-icon: var(--text-4);
    --channel-text-area-placeholder: var(--text-5);
    --channels-default: var(--text-4);
    --channeltextarea-background: var(--primary-560);
    --chat-background: var(--primary-600);
    --chat-background-default: var(--bg-3);
    --chat-border: var(--primary-700);
    --chat-text-muted: var(--text-5);
    --checkbox-background-active: var(--blurple-65);
    --checkbox-background-default: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --checkbox-background-hover: hsl(var(--opacity-black-8-hsl) / 0.0784313725490196);
    --checkbox-background-selected-default: var(--blurple-50);
    --checkbox-background-selected-hover: var(--blurple-60);
    --checkbox-border-active: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --checkbox-border-default: var(--neutral-34);
    --checkbox-border-hover: hsl(var(--opacity-80-hsl) / 0.8);
    --checkbox-border-selected-default: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --checkbox-border-selected-hover: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --checkbox-icon-active: var(--neutral-1);
    --chip-blurple-dark-background: var(--blurple-70);
    --chip-blurple-dark-text: var(--blurple-1);
    --chip-blurple-light-background: var(--blurple-20);
    --chip-blurple-light-text: var(--blurple-91);
    --chip-blurple-medium-background: var(--blurple-40);
    --chip-blurple-medium-text: var(--blurple-100);
    --chip-gray-dark-background: var(--neutral-75);
    --chip-gray-dark-text: var(--neutral-6);
    --chip-gray-light-background: var(--neutral-10);
    --chip-gray-light-text: var(--neutral-68);
    --chip-gray-medium-background: var(--neutral-40);
    --chip-gray-medium-text: var(--neutral-1);
    --chip-green-dark-background: var(--green-new-70);
    --chip-green-dark-text: var(--green-new-1);
    --chip-green-light-background: var(--green-new-20);
    --chip-green-light-text: var(--green-new-90);
    --chip-green-medium-background: var(--green-new-45);
    --chip-green-medium-text: var(--green-new-95);
    --chip-orange-dark-background: var(--orange-new-70);
    --chip-orange-dark-text: var(--orange-new-1);
    --chip-orange-light-background: var(--orange-new-20);
    --chip-orange-light-text: var(--orange-new-93);
    --chip-orange-medium-background: var(--orange-new-40);
    --chip-orange-medium-text: var(--orange-new-100);
    --chip-pink-dark-background: var(--illo-pink-60);
    --chip-pink-dark-text: var(--neutral-1);
    --chip-pink-light-background: var(--illo-pink-20);
    --chip-pink-light-text: var(--neutral-73);
    --chip-pink-medium-background: var(--illo-pink-40);
    --chip-pink-medium-text: var(--neutral-100);
    --chip-purple-dark-background: var(--illo-purple-60);
    --chip-purple-dark-text: var(--neutral-10);
    --chip-purple-light-background: var(--illo-purple-20);
    --chip-purple-light-text: var(--neutral-75);
    --chip-purple-medium-background: var(--illo-purple-40);
    --chip-purple-medium-text: var(--neutral-100);
    --chip-red-dark-background: var(--red-new-70);
    --chip-red-dark-text: var(--red-new-1);
    --chip-red-light-background: var(--red-new-20);
    --chip-red-light-text: var(--red-new-94);
    --chip-red-medium-background: var(--red-new-45);
    --chip-red-medium-text: var(--red-new-100);
    --chip-yellow-dark-background: var(--yellow-new-70);
    --chip-yellow-dark-text: var(--yellow-new-1);
    --chip-yellow-light-background: var(--yellow-new-20);
    --chip-yellow-light-text: var(--yellow-new-92);
    --chip-yellow-medium-background: var(--yellow-new-45);
    --chip-yellow-medium-text: var(--yellow-new-96);
    --content-inventory-media-seekbar-container: hsl(var(--plum-6-hsl) / 0.24);
    --content-inventory-overlay-text-primary: hsl(var(--white-hsl) / 0.85);
    --content-inventory-overlay-text-secondary: hsl(var(--white-hsl) / 0.7);
    --context-menu-backdrop-background: hsl(var(--opacity-black-72-hsl) / 0.7215686274509804);
    --control-brand-foreground: var(--brand-360);
    --control-brand-foreground-new: var(--brand-360);
    --control-connect-background-active: var(--green-new-62);
    --control-connect-background-default: var(--green-new-50);
    --control-connect-background-hover: var(--green-new-55);
    --control-connect-border-active: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-connect-border-default: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-connect-border-hover: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --control-connect-icon-active: var(--white);
    --control-connect-icon-default: var(--white);
    --control-connect-icon-hover: var(--white);
    --control-connect-text-active: var(--white);
    --control-connect-text-default: var(--white);
    --control-connect-text-hover: var(--white);
    --control-background-critical-primary-active: var(--red-5);
    --control-background-critical-primary-default: var(--red-3);
    --control-background-critical-primary-hover: var(--red-4);
    --control-background-critical-primary-loading: var(--red-3);
    --control-border-critical-primary-active: var(--button-border);
    --control-border-critical-primary-default: var(--button-border);
    --control-border-critical-primary-hover: var(--button-border);
    --control-border-critical-primary-loading: var(--button-border);
    --control-text-critical-primary-active: var(--text-0);
    --control-text-critical-primary-default: var(--text-0);
    --control-text-critical-primary-hover: var(--text-0);
    --control-text-critical-primary-loading: var(--text-0);
    --control-background-critical-secondary-active: var(--text-5);
    --control-background-critical-secondary-default: var(--bg-2);
    --control-background-critical-secondary-hover: var(--bg-1);
    --control-background-critical-secondary-loading: var(--bg-2);
    --control-border-critical-secondary-active: var(--border-light);
    --control-border-critical-secondary-default: var(--border-light);
    --control-border-critical-secondary-hover: var(--border-light);
    --control-border-critical-secondary-loading: var(--border-light);
    --control-text-critical-secondary-active: var(--red-2);
    --control-text-critical-secondary-default: var(--red-2);
    --control-text-critical-secondary-hover: var(--red-2);
    --control-text-critical-secondary-loading: var(--red-2);
    --control-expressive-background-active: var(--neutral-10);
    --control-expressive-background-default: var(--neutral-1);
    --control-expressive-background-hover: var(--neutral-1);
    --control-expressive-border-active: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-expressive-border-default: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-expressive-border-hover: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-expressive-icon-active: var(--black);
    --control-expressive-icon-default: var(--black);
    --control-expressive-icon-hover: var(--black);
    --control-expressive-text-active: var(--black);
    --control-expressive-text-default: var(--black);
    --control-expressive-text-hover: var(--black);
    --control-icon-only-background-active: hsl(var(--opacity-20-hsl) / 0.2);
    --control-icon-only-background-hover: hsl(var(--opacity-16-hsl) / 0.1607843137254902);
    --control-icon-only-border-active: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-icon-only-border-hover: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-icon-only-icon-active: var(--neutral-1);
    --control-icon-only-icon-default: var(--neutral-16);
    --control-icon-only-icon-hover: var(--neutral-1);
    --control-overlay-primary-background-active: var(--neutral-17);
    --control-overlay-primary-background-default: var(--neutral-1);
    --control-overlay-primary-background-hover: var(--neutral-9);
    --control-overlay-primary-border-active: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-overlay-primary-border-default: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-overlay-primary-border-hover: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --control-overlay-primary-icon-active: var(--black);
    --control-overlay-primary-icon-default: var(--black);
    --control-overlay-primary-icon-hover: var(--black);
    --control-overlay-primary-text-active: var(--black);
    --control-overlay-primary-text-default: var(--black);
    --control-overlay-primary-text-hover: var(--black);
    --control-overlay-secondary-background-active: hsl(var(--opacity-black-48-hsl) / 0.47843137254901963);
    --control-overlay-secondary-background-default: hsl(var(--opacity-black-52-hsl) / 0.5215686274509804);
    --control-overlay-secondary-background-hover: hsl(var(--opacity-black-64-hsl) / 0.6392156862745098);
    --control-overlay-secondary-border-active: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-overlay-secondary-border-default: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-overlay-secondary-border-hover: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
    --control-overlay-secondary-icon-active: var(--white);
    --control-overlay-secondary-icon-default: var(--white);
    --control-overlay-secondary-icon-hover: var(--white);
    --control-overlay-secondary-text-active: var(--white);
    --control-overlay-secondary-text-default: var(--white);
    --control-overlay-secondary-text-hover: var(--white);
    --control-background-primary-active: var(--accent-5);
    --control-background-primary-default: var(--accent-3);
    --control-background-primary-hover: var(--accent-4);
    --control-background-primary-loading: var(--accent-3);
    --control-border-primary-active: var(--button-border);
    --control-border-primary-default: var(--button-border);
    --control-border-primary-hover: var(--button-border);
    --control-border-primary-loading: var(--button-border);
    --control-text-primary-active: var(--text-0);
    --control-text-primary-default: var(--text-0);
    --control-text-primary-hover: var(--text-0);
    --control-text-primary-loading: var(--text-0);
    --control-background-secondary-active: var(--text-5);
    --control-background-secondary-default: var(--bg-2);
    --control-background-secondary-hover: var(--bg-1);
    --control-background-secondary-loading: var(--bg-2);
    --control-border-secondary-active: var(--border-light);
    --control-border-secondary-default: var(--border-light);
    --control-border-secondary-hover: var(--border-light);
    --control-border-secondary-loading: var(--border-light);
    --control-text-secondary-active: var(--text-3);
    --control-text-secondary-default: var(--text-3);
    --control-text-secondary-hover: var(--text-3);
    --control-text-secondary-loading: var(--text-3);
    --creator-revenue-icon-gradient-end: var(--teal-430);
    --creator-revenue-icon-gradient-start: var(--teal-360);
    --creator-revenue-info-box-background: hsl(var(--teal-430-hsl) / 0.1);
    --creator-revenue-info-box-border: var(--teal-400);
    --creator-revenue-locked-channel-icon: var(--teal-345);
    --creator-revenue-progress-bar: var(--teal-400);
    --embed-background: var(--primary-630);
    --embed-background-alternate: var(--primary-600);
    --experimental-avatar-embed-bg: hsl(var(--opacity-black-52-hsl) / 0.5215686274509804);
    --expressive-gradient-blue-end: hsl(var(--illo-blue-60-hsl) / 0.45);
    --expressive-gradient-blue-start: hsl(var(--illo-blue-40-hsl) / 0.45);
    --expressive-gradient-green-end: hsl(var(--illo-green-70-hsl) / 0.45);
    --expressive-gradient-green-start: hsl(var(--illo-green-50-hsl) / 0.45);
    --expressive-gradient-nitro-green-end: hsl(var(--illo-nitro-blue-hsl) / 0.5);
    --expressive-gradient-nitro-green-start: hsl(var(--illo-green-50-hsl) / 0.5);
    --expressive-gradient-nitro-pink-end: hsl(var(--illo-nitro-blue-hsl) / 0.5);
    --expressive-gradient-nitro-pink-start: hsl(var(--illo-pink-60-hsl) / 0.5);
    --expressive-gradient-pink-end: hsl(var(--illo-pink-70-hsl) / 0.45);
    --expressive-gradient-pink-start: hsl(var(--illo-pink-50-hsl) / 0.45);
    --expressive-gradient-purple-end: hsl(var(--illo-purple-60-hsl) / 0.45);
    --expressive-gradient-purple-start: hsl(var(--illo-purple-40-hsl) / 0.45);
    --expressive-gradient-tenure-badge-bronze-end: hsl(var(--illo-orange-70-hsl) / 0.3);
    --expressive-gradient-tenure-badge-bronze-start: hsl(var(--illo-orange-30-hsl) / 0.3);
    --expressive-gradient-tenure-badge-diamond-end: hsl(var(--illo-purple-50-hsl) / 0.3);
    --expressive-gradient-tenure-badge-diamond-start: hsl(var(--illo-purple-40-hsl) / 0.3);
    --expressive-gradient-tenure-badge-emerald-end: hsl(var(--illo-green-60-hsl) / 0.3);
    --expressive-gradient-tenure-badge-emerald-start: hsl(var(--illo-green-40-hsl) / 0.3);
    --expressive-gradient-tenure-badge-gold-end: hsl(var(--yellow-new-41-hsl) / 0.3);
    --expressive-gradient-tenure-badge-gold-start: hsl(var(--illo-yellow-50-hsl) / 0.3);
    --expressive-gradient-tenure-badge-opal-end: hsl(var(--blue-new-50-hsl) / 0.3);
    --expressive-gradient-tenure-badge-opal-start: hsl(var(--teal-new-30-hsl) / 0.3);
    --expressive-gradient-tenure-badge-platinum-end: hsl(var(--teal-new-60-hsl) / 0.3);
    --expressive-gradient-tenure-badge-platinum-start: hsl(var(--teal-new-20-hsl) / 0.3);
    --expressive-gradient-tenure-badge-ruby-end: hsl(var(--red-new-80-hsl) / 0.3);
    --expressive-gradient-tenure-badge-ruby-start: hsl(var(--red-new-44-hsl) / 0.3);
    --expressive-gradient-tenure-badge-silver-end: hsl(var(--neutral-58-hsl) / 0.3);
    --expressive-gradient-tenure-badge-silver-start: hsl(var(--neutral-12-hsl) / 0.3);
    --gradient-progress-pill-background: var(--neutral-45);
    --home-background: var(--primary-645);
    --icon-default: var(--neutral-9);
    --icon-feedback-critical: var(--red-1);
    --icon-feedback-info: var(--blue-new-24);
    --icon-feedback-positive: var(--green-1);
    --icon-feedback-warning: var(--yellow-1);
    --icon-invert: var(--neutral-71);
    --icon-link: var(--blue-new-26);
    --icon-muted: var(--text-5);
    --icon-status-dnd: var(--red-400);
    --icon-status-idle: var(--yellow-300);
    --icon-status-offline: var(--primary-360);
    --icon-status-online: var(--green-360);
    --icon-strong: var(--neutral-1);
    --icon-subtle: var(--neutral-16);
    --icon-transparent: hsl(var(--transparent-hsl) / 0);
    --input-background-default: hsl(var(--opacity-black-20-hsl) / 0.2);
    --input-background-error-default: hsl(var(--opacity-black-20-hsl) / 0.2);
    --input-border-active: var(--blue-new-26);
    --input-border-default: hsl(var(--opacity-20-hsl) / 0.2);
    --input-border-error-default: var(--red-new-22);
    --input-border-error-hover: var(--red-new-22);
    --input-border-hover: hsl(var(--opacity-20-hsl) / 0.2);
    --input-border-readonly: hsl(var(--opacity-white-8-hsl) / 0.0784313725490196);
    --input-foreground-placeholder: var(--neutral-32);
    --input-icon-default: var(--neutral-16);
    --input-placeholder-text-default: var(--neutral-32);
    --input-text-default: var(--neutral-9);
    --input-text-error-default: var(--red-new-22);
    --interactive-background-active: var(--active);
    --interactive-background-hover: var(--hover);
    --interactive-background-selected: var(--active);
    --interactive-icon-active: var(--text-3);
    --interactive-icon-default: var(--text-4);
    --interactive-icon-hover: var(--text-3);
    --interactive-muted: var(--text-5);
    --interactive-text-active: var(--text-3);
    --interactive-text-default: var(--text-4);
    --interactive-text-hover: var(--text-3);
    --logo-primary: var(--white);
    --mention-background: color-mix(in hsl, var(--accent-2), transparent 90%);
    --mention-foreground: var(--accent-1);
    --message-automod-background-default: hsl(var(--red-400-hsl) / 0.05);
    --message-automod-background-hover: hsl(var(--red-400-hsl) / 0.1);
    --message-background-hover: hsl(var(--opacity-8-hsl) / 0.0784313725490196);
    --message-highlight-background-default: hsl(var(--opacity-blurple-16-hsl) / 0.1607843137254902);
    --message-highlight-background-hover: hsl(var(--opacity-blurple-12-hsl) / 0.12156862745098039);
    --message-mentioned-background-default: hsl(var(--opacity-yellow-8-hsl) / 0.0784313725490196);
    --message-mentioned-background-hover: hsl(var(--opacity-yellow-4-hsl) / 0.0392156862745098);
    --message-reacted-background-default: color-mix(in hsl, var(--accent-2), transparent 80%);
    --message-reacted-text-default: var(--text-2);
    --mobile-background-scrim-opaque: var(--black);
    --mobile-expression-picker-background-default: var(--neutral-69);
    --mobile-text-heading-primary: var(--neutral-1);
    --modal-background: var(--bg-4);
    --modal-footer-background: var(--bg-4);
    --navigator-header-tint: var(--white);
    --notice-background-critical: var(--red-new-74);
    --notice-background-info: var(--blue-new-76);
    --notice-background-positive: var(--green-new-76);
    --notice-background-warning: var(--yellow-new-75);
    --notice-text-critical: var(--red-new-1);
    --notice-text-info: var(--blue-new-1);
    --notice-text-positive: var(--green-new-2);
    --notice-text-warning: var(--yellow-new-1);
    --overlay-backdrop-lightbox: hsl(var(--opacity-black-92-hsl) / 0.9215686274509803);
    --panel-bg: var(--neutral-66);
    --polls-normal-image-background: var(--primary-660);
    --polls-victor-fill: color-mix(in hsl, var(--green-2), transparent 90%);
    --polls-voted-fill: color-mix(in hsl, var(--accent-2), transparent 90%);
    --premium-nitro-pink-text: var(--pink-34);
    --profile-gradient-note-background: hsl(var(--black-hsl) / 0.3);
    --profile-gradient-overlay: hsl(var(--black-hsl) / 0.6);
    --profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-hsl) / 0.8);
    --profile-gradient-role-pill-background: hsl(var(--primary-660-hsl) / 0.5);
    --profile-gradient-role-pill-border: hsl(var(--white-hsl) / 0.2);
    --profile-gradient-section-box: hsl(var(--black-hsl) / 0.45);
    --radio-background-active: var(--blurple-65);
    --radio-background-default: hsl(var(--opacity-black-8-hsl) / 0.0784313725490196);
    --radio-background-hover: hsl(var(--opacity-black-8-hsl) / 0.0784313725490196);
    --radio-background-selected-default: var(--blurple-50);
    --radio-background-selected-hover: var(--blurple-60);
    --radio-border-active: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --radio-border-default: hsl(var(--opacity-64-hsl) / 0.6392156862745098);
    --radio-border-hover: hsl(var(--opacity-80-hsl) / 0.8);
    --radio-border-selected-default: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --radio-border-selected-hover: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --radio-foreground-active: var(--blurple-50);
    --radio-foreground-default: hsl(var(--opacity-black-8-hsl) / 0.0784313725490196);
    --radio-foreground-hover: hsl(var(--opacity-black-8-hsl) / 0.0784313725490196);
    --radio-thumb-background-active: var(--neutral-1);
    --redesign-button-active-background: var(--green-430);
    --redesign-button-active-pressed-background: var(--green-460);
    --redesign-button-active-text: var(--white);
    --redesign-button-danger-background: var(--red-430);
    --redesign-button-destructive-background: var(--red-430);
    --redesign-button-destructive-pressed-background: var(--red-460);
    --redesign-button-destructive-text: var(--white);
    --redesign-button-overlay-alpha-background: hsl(var(--black-hsl) / 0.54);
    --redesign-button-overlay-alpha-pressed-background: hsl(var(--black-hsl) / 0.64);
    --redesign-button-overlay-alpha-text: var(--white);
    --redesign-button-positive-background: var(--green-430);
    --redesign-button-premium-primary-pink-for-gradient: var(--premium-tier-2-pink-for-gradients);
    --redesign-button-premium-primary-pressed-background: hsl(var(--black-hsl) / 0.1);
    --redesign-button-premium-primary-purple-for-gradient: var(--premium-tier-2-purple-for-gradients);
    --redesign-button-premium-primary-purple-for-gradient-2: var(--premium-tier-2-purple-for-gradients-2);
    --redesign-button-primary-alt-border: var(--blurple-26);
    --redesign-button-primary-background: var(--brand-500);
    --redesign-button-primary-overlay-background: var(--white);
    --redesign-button-primary-overlay-pressed-background: var(--primary-230);
    --redesign-button-primary-overlay-text: var(--primary-860);
    --redesign-button-primary-pressed-background: var(--brand-560);
    --redesign-button-primary-text: var(--white);
    --redesign-button-secondary-background: var(--primary-460);
    --redesign-button-secondary-border: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --redesign-button-secondary-overlay-background: hsl(var(--black-hsl) / 0.54);
    --redesign-button-secondary-overlay-pressed-background: hsl(var(--black-hsl) / 0.64);
    --redesign-button-secondary-overlay-text: var(--white);
    --redesign-button-secondary-pressed-background: var(--primary-500);
    --redesign-button-secondary-pressed-border: hsl(var(--transparent-hsl) / 0);
    --redesign-button-secondary-text: var(--text-3);
    --redesign-button-selected-background: hsl(var(--brand-500-hsl) / 0.24);
    --redesign-button-selected-pressed-background: hsl(var(--brand-500-hsl) / 0.28);
    --redesign-button-selected-text: var(--blurple-50);
    --redesign-button-tertiary-background: var(--primary-660);
    --redesign-button-tertiary-pressed-background: var(--primary-560);
    --redesign-button-tertiary-pressed-text: var(--primary-330);
    --redesign-button-tertiary-text: var(--neutral-9);
    --scrollbar-auto-scrollbar-color-thumb: var(--neutral-38);
    --scrollbar-auto-scrollbar-color-track: var(--neutral-74);
    --scrollbar-auto-thumb: var(--bg-3);
    --scrollbar-auto-track: transparent;
    --scrollbar-thin-thumb: var(--bg-3);
    --scrollbar-thin-track: transparent;
    --spine-default: hsl(var(--opacity-44-hsl) / 0.4392156862745098);
    --spoiler-hidden-background: var(--neutral-36);
    --spoiler-hidden-background-hover: var(--neutral-27);
    --spoiler-revealed-background: var(--primary-660);
    --status-danger: var(--red-2);
    --status-online: var(--green-2);
    --status-positive: var(--green-2);
    --status-positive-background: var(--green-2);
    --status-positive-text: var(--white);
    --status-speaking: var(--green-2);
    --status-warning: var(--yellow-2);
    --status-warning-background: var(--yellow-300);
    --status-warning-text: var(--black);
    --switch-background-active: var(--blurple-65);
    --switch-background-default: hsl(var(--opacity-black-12-hsl) / 0.12156862745098039);
    --switch-background-hover: hsl(var(--opacity-black-12-hsl) / 0.12156862745098039);
    --switch-background-selected-default: var(--blurple-50);
    --switch-background-selected-hover: var(--blurple-60);
    --switch-border-default: hsl(var(--opacity-20-hsl) / 0.2);
    --switch-border-hover: hsl(var(--opacity-40-hsl) / 0.4);
    --switch-border-selected-default: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --switch-border-selected-hover: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --switch-thumb-background-default: var(--neutral-1);
    --switch-thumb-background-selected-default: var(--neutral-1);
    --switch-thumb-icon-active: var(--blurple-50);
    --switch-thumb-icon-default: var(--neutral-71);
    --text-brand: var(--accent-1);
    --text-code: var(--blue-new-15);
    --text-code-addition: var(--green-new-15);
    --text-code-builtin: var(--orange-new-13);
    --text-code-bullet: var(--yellow-new-14);
    --text-code-comment: var(--neutral-25);
    --text-code-deletion: var(--red-new-11);
    --text-code-keyword: var(--red-new-12);
    --text-code-section: var(--blue-new-15);
    --text-code-string: var(--teal-new-16);
    --text-code-tag: var(--green-new-12);
    --text-code-title: var(--blurple-9);
    --text-code-variable: var(--blue-new-10);
    --text-default: var(--neutral-9);
    --text-feedback-critical: var(--red-1);
    --text-feedback-info: var(--blue-new-24);
    --text-feedback-positive: var(--green-1);
    --text-feedback-warning: var(--yellow-1);
    --text-invert: var(--neutral-71);
    --text-link: var(--accent-1);
    --text-muted: var(--text-5);
    --text-overlay-dark: var(--neutral-71);
    --text-overlay-light: var(--neutral-2);
    --text-status-dnd: var(--red-400);
    --text-status-idle: var(--yellow-300);
    --text-status-offline: var(--primary-360);
    --text-status-online: var(--green-360);
    --text-strong: var(--neutral-1);
    --text-subtle: var(--neutral-16);
    --textbox-markdown-syntax: var(--primary-360);
    --thread-channel-spine: var(--primary-500);
    --user-profile-activity-toolbar-background: var(--neutral-60);
    --user-profile-background-hover: hsl(var(--opacity-8-hsl) / 0.0784313725490196);
    --user-profile-border: hsl(var(--opacity-12-hsl) / 0.12156862745098039);
    --user-profile-note-background-focus: var(--neutral-73);
    --user-profile-overlay-background: var(--bg-4);
    --user-profile-overlay-background-hover: var(--bg-2);
    --user-profile-toolbar-background: var(--neutral-60);
    --user-profile-toolbar-border: hsl(var(--opacity-4-hsl) / 0.0392156862745098);
}
