.visual-refresh.theme-dark, .visual-refresh .theme-dark {--action-sheet-gradient-bg: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --activity-card-background: color-mix(in oklab, var(--primary-700) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --activity-card-icon-overlay: color-mix(in oklab, hsl(240 calc(1*5.556%) 21.176% /0.85) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.85) var(--theme-base-color-amount, 0%));
    --alert-bg: color-mix(in oklab, var(--primary-600) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --android-navigation-bar-background: color-mix(in oklab, var(--primary-830) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --android-navigation-scrim-background: color-mix(in oklab, hsl(240 calc(1*7.692%) 5.098% /0.5) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.5) var(--theme-base-color-amount, 0%));
    --android-ripple: color-mix(in oklab, hsl(0 calc(1*0%) 100% /0.07) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.07) var(--theme-base-color-amount, 0%));
    --autocomplete-bg: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --background-accent: color-mix(in oklab, var(--primary-530) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --background-floating: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --background-mentioned: color-mix(in oklab, hsl(33.514 calc(1*52.607%) 58.627% /0.1) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.1) var(--theme-base-color-amount, 0%));
    --background-mentioned-hover: color-mix(in oklab, hsl(33.514 calc(1*52.607%) 58.627% /0.08) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.08) var(--theme-base-color-amount, 0%));
    --background-message-automod: color-mix(in oklab, hsl(356.962 calc(1*66.949%) 53.725% /0.05) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.05) var(--theme-base-color-amount, 0%));
    --background-message-automod-hover: color-mix(in oklab, hsl(356.962 calc(1*66.949%) 53.725% /0.1) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.1) var(--theme-base-color-amount, 0%));
    --background-message-highlight: color-mix(in oklab, hsl(228.889 calc(1*91.525%) 76.863% /0.08) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.08) var(--theme-base-color-amount, 0%));
    --background-message-highlight-hover: color-mix(in oklab, hsl(228.889 calc(1*91.525%) 76.863% /0.06) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.06) var(--theme-base-color-amount, 0%));
    --background-message-hover: color-mix(in oklab, hsl(240 calc(1*20%) 0.98% /0.06) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.06) var(--theme-base-color-amount, 0%));
    --background-mobile-primary: color-mix(in oklab, var(--primary-600) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --background-mobile-secondary: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --background-nested-floating: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --background-primary: color-mix(in oklab, var(--primary-600) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --background-secondary: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --background-secondary-alt: color-mix(in oklab, var(--primary-660) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --background-tertiary: color-mix(in oklab, var(--primary-700) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-backdrop: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.7) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.7) var(--theme-base-color-amount, 0%));
    --bg-backdrop-immersive: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.85) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.85) var(--theme-base-color-amount, 0%));
    --bg-backdrop-no-opacity: color-mix(in oklab, var(--black) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-base-primary: color-mix(in oklab, var(--primary-600) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-base-secondary: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-base-tertiary: color-mix(in oklab, var(--primary-660) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-mod-faint: color-mix(in oklab, hsl(240 calc(1*5.882%) 33.333% /0.3) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.3) var(--theme-base-color-amount, 0%));
    --bg-mod-strong: color-mix(in oklab, hsl(240 calc(1*5.882%) 33.333% /0.54) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.54) var(--theme-base-color-amount, 0%));
    --bg-mod-subtle: color-mix(in oklab, hsl(240 calc(1*5.882%) 33.333% /0.48) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.48) var(--theme-base-color-amount, 0%));
    --bg-modal-gradient-green-end: color-mix(in oklab, hsl(152.941 calc(1*100%) 20% /0.45) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.45) var(--theme-base-color-amount, 0%));
    --bg-modal-gradient-green-start: color-mix(in oklab, hsl(145.935 calc(1*70.776%) 42.941% /0.45) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.45) var(--theme-base-color-amount, 0%));
    --bg-modal-gradient-lavender-end: color-mix(in oklab, hsl(260.87 calc(1*72.327%) 31.176% /0.45) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.45) var(--theme-base-color-amount, 0%));
    --bg-modal-gradient-lavender-start: color-mix(in oklab, hsl(268.462 calc(1*85.714%) 64.314% /0.45) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.45) var(--theme-base-color-amount, 0%));
    --bg-modal-gradient-magenta-end: color-mix(in oklab, hsl(300 calc(1*100%) 20% /0.45) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.45) var(--theme-base-color-amount, 0%));
    --bg-modal-gradient-magenta-start: color-mix(in oklab, hsl(309.787 calc(1*64.977%) 42.549% /0.45) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.45) var(--theme-base-color-amount, 0%));
    --bg-modal-gradient-navy-end: color-mix(in oklab, hsl(237.931 calc(1*72.5%) 31.373% /0.45) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.45) var(--theme-base-color-amount, 0%));
    --bg-modal-gradient-navy-start: color-mix(in oklab, hsl(234.935 calc(1*85.556%) 64.706% /0.45) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.45) var(--theme-base-color-amount, 0%));
    --bg-surface-overlay: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-surface-overlay-tmp: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-surface-raised: color-mix(in oklab, var(--primary-560) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-tile-gradient-magenta-end: color-mix(in oklab, hsl(300 calc(1*100%) 20% /0.3) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.3) var(--theme-base-color-amount, 0%));
    --bg-tile-gradient-magenta-start: color-mix(in oklab, hsl(309.787 calc(1*64.977%) 42.549% /0.3) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.3) var(--theme-base-color-amount, 0%));
    --blur-fallback: color-mix(in oklab, hsl(240 calc(1*4.615%) 12.745% /0.96) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.96) var(--theme-base-color-amount, 0%));
    --blur-fallback-pressed: color-mix(in oklab, hsl(240 calc(1*7.143%) 10.98% /0.96) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.96) var(--theme-base-color-amount, 0%));
    --border-faint: color-mix(in oklab, hsl(0 calc(1*0%) 100% /0.03) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.03) var(--theme-base-color-amount, 0%));
    --border-strong: color-mix(in oklab, hsl(0 calc(1*0%) 100% /0.16) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.16) var(--theme-base-color-amount, 0%));
    --border-subtle: color-mix(in oklab, hsl(0 calc(1*0%) 100% /0.08) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.08) var(--theme-base-color-amount, 0%));
    --bug-reporter-modal-submitting-background: color-mix(in oklab, hsl(240 calc(1*5.263%) 7.451% /0.6) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.6) var(--theme-base-color-amount, 0%));
    --card-gradient-bg: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.4) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.4) var(--theme-base-color-amount, 0%));
    --card-gradient-pressed-bg: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.5) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.5) var(--theme-base-color-amount, 0%));
    --card-primary-bg: color-mix(in oklab, var(--primary-600) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --card-primary-pressed-bg: color-mix(in oklab, var(--primary-645) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --card-secondary-bg: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --card-secondary-pressed-bg: color-mix(in oklab, var(--primary-645) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --channel-icon: color-mix(in oklab, var(--primary-400) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --channel-text-area-placeholder: color-mix(in oklab, var(--primary-430) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --channels-default: color-mix(in oklab, var(--primary-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --channeltextarea-background: color-mix(in oklab, var(--primary-560) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --chat-background: color-mix(in oklab, var(--primary-600) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --chat-banner-bg: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --chat-border: color-mix(in oklab, var(--primary-700) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --chat-input-container-background: color-mix(in oklab, var(--primary-600) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --chat-swipe-to-reply-background: color-mix(in oklab, var(--primary-660) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --chat-swipe-to-reply-gradient-background: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.1) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.1) var(--theme-base-color-amount, 0%));
    --coachmark-bg: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --context-menu-backdrop-background: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.7) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.7) var(--theme-base-color-amount, 0%));
    --control-brand-foreground: 
color-mix(in oklab, var(--brand-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --control-brand-foreground-new: 
color-mix(in oklab, var(--brand-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --creator-revenue-icon-gradient-end: color-mix(in oklab, var(--teal-430) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --creator-revenue-icon-gradient-start: color-mix(in oklab, var(--teal-360) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --creator-revenue-info-box-background: color-mix(in oklab, hsl(184.091 calc(1*95.652%) 27.059% /0.1) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.1) var(--theme-base-color-amount, 0%));
    --creator-revenue-info-box-border: color-mix(in oklab, var(--teal-400) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --creator-revenue-locked-channel-icon: color-mix(in oklab, var(--teal-345) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --creator-revenue-progress-bar: color-mix(in oklab, var(--teal-400) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --custom-status-bubble-bg: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --deprecated-card-bg: color-mix(in oklab, hsl(240 calc(1*4.615%) 12.745% /0.6) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.6) var(--theme-base-color-amount, 0%));
    --deprecated-card-editable-bg: color-mix(in oklab, hsl(240 calc(1*4.615%) 12.745% /0.3) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.3) var(--theme-base-color-amount, 0%));
    --deprecated-text-input-bg: color-mix(in oklab, var(--primary-700) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --deprecated-text-input-border: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.3) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.3) var(--theme-base-color-amount, 0%));
    --deprecated-text-input-border-disabled: color-mix(in oklab, var(--primary-700) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --deprecated-text-input-border-hover: color-mix(in oklab, var(--primary-900) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --display-banner-overflow-background: color-mix(in oklab, hsl(240 calc(1*4.615%) 12.745% /0.5) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.5) var(--theme-base-color-amount, 0%));
    --divider-strong: color-mix(in oklab, hsl(0 calc(1*0%) 100% /0.16) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.16) var(--theme-base-color-amount, 0%));
    --divider-subtle: color-mix(in oklab, hsl(0 calc(1*0%) 100% /0.08) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.08) var(--theme-base-color-amount, 0%));
    --embed-background: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --embed-background-alternate: color-mix(in oklab, var(--primary-600) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --embed-title: color-mix(in oklab, var(--primary-130) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --expression-picker-bg: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --focus-primary: color-mix(in oklab, var(--blue-345) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --forum-post-extra-media-count-container-background: color-mix(in oklab, hsl(240 calc(1*6.494%) 15.098% /0.8) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.8) var(--theme-base-color-amount, 0%));
    --forum-post-tag-background: color-mix(in oklab, hsl(240 calc(1*6.494%) 15.098% /0.9) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.9) var(--theme-base-color-amount, 0%));
    --guild-notifications-bottom-sheet-pill-background: color-mix(in oklab, var(--primary-700) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --header-muted: color-mix(in oklab, var(--primary-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --header-primary: color-mix(in oklab, var(--primary-130) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --header-secondary: color-mix(in oklab, var(--primary-330) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --home-background: color-mix(in oklab, var(--primary-645) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --icon-primary: color-mix(in oklab, var(--primary-130) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --icon-secondary: color-mix(in oklab, var(--primary-330) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --info-danger-background: color-mix(in oklab, hsl(356.962 calc(1*66.949%) 53.725% /0.1) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.1) var(--theme-base-color-amount, 0%));
    --info-danger-foreground: color-mix(in oklab, var(--red-400) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --info-danger-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --info-help-background: color-mix(in oklab, hsl(213.29 calc(1*81.152%) 62.549% /0.1) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.1) var(--theme-base-color-amount, 0%));
    --info-help-foreground: color-mix(in oklab, var(--blue-345) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --info-help-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --info-positive-background: color-mix(in oklab, hsl(134.681 calc(1*40.87%) 45.098% /0.1) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.1) var(--theme-base-color-amount, 0%));
    --info-positive-foreground: color-mix(in oklab, var(--green-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --info-positive-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --info-warning-background: color-mix(in oklab, hsl(33.514 calc(1*52.607%) 58.627% /0.1) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.1) var(--theme-base-color-amount, 0%));
    --info-warning-foreground: color-mix(in oklab, var(--yellow-300) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --info-warning-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --input-background: color-mix(in oklab, var(--primary-700) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --input-border: color-mix(in oklab, hsl(240 calc(1*3.93%) 44.902% /0.32) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.32) var(--theme-base-color-amount, 0%));
    --input-error-background: color-mix(in oklab, hsl(357.049 calc(1*61%) 39.216% /0.12) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.12) var(--theme-base-color-amount, 0%));
    --input-error-border: color-mix(in oklab, var(--red-360) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --input-error-text: color-mix(in oklab, var(--red-260) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --input-focused-border: color-mix(in oklab, hsl(0 calc(1*0%) 100% /0.16) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.16) var(--theme-base-color-amount, 0%));
    --input-placeholder-text: color-mix(in oklab, var(--input-placeholder-text-dark) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --interactive-active: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --interactive-hover: color-mix(in oklab, var(--primary-230) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --interactive-muted: color-mix(in oklab, var(--primary-500) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --interactive-normal: color-mix(in oklab, var(--primary-330) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --leaderboard-league-brand-text: color-mix(in oklab, var(--lol-text-light) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --legacy-android-blur-overlay-default: color-mix(in oklab, hsl(240 calc(1*6.494%) 15.098% /0.5) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.5) var(--theme-base-color-amount, 0%));
    --legacy-android-blur-overlay-ultra-thin: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.025) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.025) var(--theme-base-color-amount, 0%));
    --legacy-blur-fallback-default: color-mix(in oklab, hsl(240 calc(1*6.494%) 15.098% /0.975) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.975) var(--theme-base-color-amount, 0%));
    --legacy-blur-fallback-ultra-thin: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.95) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.95) var(--theme-base-color-amount, 0%));
    --live-stage-tile-border: color-mix(in oklab, hsl(240 calc(1*5.882%) 33.333% /0.6) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.6) var(--theme-base-color-amount, 0%));
    --logo-primary: color-mix(in oklab, var(--white) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --mention-background: color-mix(in oklab, hsl(234.935 calc(1*85.556%) 64.706% /0.3) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.3) var(--theme-base-color-amount, 0%));
    --mention-foreground: color-mix(in oklab, var(--brand-260) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --message-reacted-text: color-mix(in oklab, var(--brand-200) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --modal-background: color-mix(in oklab, var(--primary-600) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --modal-footer-background: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --navigator-header-tint: color-mix(in oklab, var(--white) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --overlay-backdrop-default: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.7215686274509804) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.7215686274509804) var(--theme-base-color-amount, 0%));
    --panel-bg: color-mix(in oklab, var(--primary-600) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --polls-normal-fill-hover: color-mix(in oklab, var(--primary-600) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --polls-normal-image-background: color-mix(in oklab, var(--primary-660) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --polls-victor-fill: color-mix(in oklab, hsl(134.681 calc(1*40.87%) 45.098% /0.2) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.2) var(--theme-base-color-amount, 0%));
    --polls-voted-fill: color-mix(in oklab, hsl(234.935 calc(1*85.556%) 64.706% /0.2) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.2) var(--theme-base-color-amount, 0%));
    --premium-nitro-pink-text: color-mix(in oklab, var(--premium-nitro-pink-light) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --profile-gradient-message-input-border: color-mix(in oklab, hsl(240 calc(1*5.882%) 33.333% /0.48) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.48) var(--theme-base-color-amount, 0%));
    --profile-gradient-note-background: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.3) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.3) var(--theme-base-color-amount, 0%));
    --profile-gradient-overlay: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.6) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.6) var(--theme-base-color-amount, 0%));
    --profile-gradient-overlay-synced-with-user-theme: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.8) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.8) var(--theme-base-color-amount, 0%));
    --profile-gradient-profile-body-background-hover: color-mix(in oklab, hsl(0 calc(1*0%) 100% /0.16) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.16) var(--theme-base-color-amount, 0%));
    --profile-gradient-role-pill-background: color-mix(in oklab, hsl(240 calc(1*6.494%) 15.098% /0.5) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.5) var(--theme-base-color-amount, 0%));
    --profile-gradient-role-pill-border: color-mix(in oklab, hsl(0 calc(1*0%) 100% /0.2) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.2) var(--theme-base-color-amount, 0%));
    --profile-gradient-section-box: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.45) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.45) var(--theme-base-color-amount, 0%));
    --redesign-activity-card-badge-icon: color-mix(in oklab, var(--primary-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-active-background: color-mix(in oklab, var(--green-430) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-active-pressed-background: color-mix(in oklab, var(--green-460) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-active-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-danger-background: color-mix(in oklab, var(--red-430) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-danger-pressed-background: color-mix(in oklab, var(--red-460) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-danger-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-destructive-background: color-mix(in oklab, var(--red-430) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-destructive-pressed-background: color-mix(in oklab, var(--red-460) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-destructive-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-overlay-alpha-background: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.54) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.54) var(--theme-base-color-amount, 0%));
    --redesign-button-overlay-alpha-pressed-background: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.64) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.64) var(--theme-base-color-amount, 0%));
    --redesign-button-overlay-alpha-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-overlay-background: color-mix(in oklab, var(--white) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-overlay-text: color-mix(in oklab, var(--primary-860) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-positive-background: color-mix(in oklab, var(--green-430) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-positive-pressed-background: color-mix(in oklab, var(--green-460) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-positive-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-premium-primary-blue-for-gradient: color-mix(in oklab, var(--premium-tier-0-blue-for-gradients-2) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-premium-primary-pink-for-gradient: color-mix(in oklab, var(--premium-tier-2-pink-for-gradients) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-premium-primary-pressed-background: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.1) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.1) var(--theme-base-color-amount, 0%));
    --redesign-button-premium-primary-purple-for-gradient: color-mix(in oklab, var(--premium-tier-2-purple-for-gradients) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-premium-primary-purple-for-gradient-2: color-mix(in oklab, var(--premium-tier-2-purple-for-gradients-2) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-alt-background: color-mix(in oklab, hsl(234.935 calc(1*85.556%) 64.706% /0) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-alt-border: 
color-mix(in oklab, var(--brand-360) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-alt-on-blurple-background: color-mix(in oklab, hsl(233.913 calc(1*65.094%) 58.431% /0) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-alt-on-blurple-border: color-mix(in oklab, var(--white) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-alt-on-blurple-pressed-background: color-mix(in oklab, var(--brand-530) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-alt-on-blurple-pressed-border: 
color-mix(in oklab, var(--brand-360) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-alt-on-blurple-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-primary-alt-pressed-background: color-mix(in oklab, hsl(230.182 calc(1*44%) 24.51% /0.16) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.16) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-alt-pressed-border: color-mix(in oklab, hsl(231.231 calc(1*89.041%) 71.373% /0.5) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.5) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-alt-pressed-text: 
color-mix(in oklab, var(--brand-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-primary-alt-text: 
color-mix(in oklab, var(--brand-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-primary-background: 
color-mix(in oklab, var(--brand-500) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-on-blurple-pressed-text: color-mix(in oklab, var(--brand-530) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-primary-overlay-background: color-mix(in oklab, var(--white) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-overlay-pressed-background: color-mix(in oklab, var(--primary-230) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-overlay-text: color-mix(in oklab, var(--primary-860) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-primary-pressed-background: color-mix(in oklab, var(--brand-560) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-primary-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-secondary-background: color-mix(in oklab, var(--primary-460) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-secondary-border: color-mix(in oklab, hsl(0 calc(1*0%) 100% /0.08) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.08) var(--theme-base-color-amount, 0%));
    --redesign-button-secondary-overlay-background: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.54) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.54) var(--theme-base-color-amount, 0%));
    --redesign-button-secondary-overlay-pressed-background: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.64) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.64) var(--theme-base-color-amount, 0%));
    --redesign-button-secondary-overlay-text: color-mix(in oklab, var(--white) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-secondary-pressed-background: color-mix(in oklab, var(--primary-500) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-secondary-pressed-border: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0) var(--theme-base-color-amount, 0%));
    --redesign-button-secondary-text: color-mix(in oklab, var(--primary-230) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-selected-background: color-mix(in oklab, hsl(234.935 calc(1*85.556%) 64.706% /0.24) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.24) var(--theme-base-color-amount, 0%));
    --redesign-button-selected-pressed-background: color-mix(in oklab, hsl(234.935 calc(1*85.556%) 64.706% /0.28) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.28) var(--theme-base-color-amount, 0%));
    --redesign-button-selected-text: 
color-mix(in oklab, var(--brand-500) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-tertiary-background: color-mix(in oklab, var(--primary-660) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-tertiary-pressed-background: color-mix(in oklab, var(--primary-560) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-button-tertiary-pressed-text: color-mix(in oklab, var(--primary-330) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-button-tertiary-text: color-mix(in oklab, var(--primary-230) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-channel-name-muted-text: color-mix(in oklab, var(--primary-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-channel-name-text: color-mix(in oklab, var(--primary-130) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --redesign-chat-input-background: color-mix(in oklab, var(--primary-700) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-image-button-pressed-background: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0.08) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.08) var(--theme-base-color-amount, 0%));
    --redesign-input-control-active-bg: color-mix(in oklab, var(--primary-645) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --redesign-input-control-selected: 
color-mix(in oklab, var(--brand-500) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --scrollbar-auto-scrollbar-color-thumb: color-mix(in oklab, var(--primary-730) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --scrollbar-auto-scrollbar-color-track: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --scrollbar-auto-thumb: color-mix(in oklab, var(--primary-730) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --scrollbar-auto-track: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --scrollbar-thin-thumb: color-mix(in oklab, var(--primary-730) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --scrollbar-thin-track: color-mix(in oklab, hsl(0 calc(1*0%) 0% /0) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0) var(--theme-base-color-amount, 0%));
    --spine-default: color-mix(in oklab, var(--primary-500) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --spoiler-hidden-background: color-mix(in oklab, var(--primary-700) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --spoiler-revealed-background: color-mix(in oklab, var(--primary-660) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --stage-card-pill-bg: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --text-brand: 
color-mix(in oklab, var(--brand-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-danger: color-mix(in oklab, var(--red-345) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-link: color-mix(in oklab, var(--blue-345) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-link-low-saturation: color-mix(in oklab, var(--blue-330) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-low-contrast: color-mix(in oklab, var(--primary-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-message-preview-low-sat: color-mix(in oklab, var(--primary-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-muted: color-mix(in oklab, var(--primary-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-muted-on-default: color-mix(in oklab, var(--primary-330) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-normal: color-mix(in oklab, var(--primary-230) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-positive: color-mix(in oklab, var(--green-330) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-primary: color-mix(in oklab, var(--primary-230) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-secondary: color-mix(in oklab, var(--primary-330) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --text-warning: color-mix(in oklab, var(--yellow-300) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --textbox-markdown-syntax: color-mix(in oklab, var(--primary-360) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
    --thread-channel-spine: color-mix(in oklab, var(--primary-500) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --toast-bg: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --typing-indicator-bg: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --user-profile-header-overflow-background: color-mix(in oklab, hsl(240 calc(1*4.615%) 12.745% /0.5) 100%, hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.5) var(--theme-base-color-amount, 0%));
}

.visual-refresh.theme-dark, .visual-refresh .theme-dark {
    --activity-card-background: var(--neutral-66);
    --autocomplete-bg: var(--neutral-66);
    --background-floating: var(--neutral-66);
    --background-mentioned: hsl(36.894 calc(1*100%) 31.569% /0.0784313725490196);
    --background-mentioned-hover: hsl(36.894 calc(1*100%) 31.569% /0.0392156862745098);
    --background-message-highlight: hsl(234.935 calc(1*85.556%) 64.706% /0.1607843137254902);
    --background-message-highlight-hover: hsl(234.935 calc(1*85.556%) 64.706% /0.12156862745098039);
    --background-message-hover: hsl(240 calc(1*4%) 60.784% /0.0392156862745098);
    --background-modifier-accent: hsl(240 calc(1*4%) 60.784% /0.12156862745098039);
    --background-modifier-active: hsl(240 calc(1*4%) 60.784% /0.1607843137254902);
    --background-modifier-hover: hsl(240 calc(1*4%) 60.784% /0.0784313725490196);
    --background-modifier-selected: hsl(240 calc(1*4%) 60.784% /0.23921568627450981);
    --background-primary: var(--neutral-69);
    --background-secondary: var(--neutral-72);
    --background-tertiary: var(--neutral-76);
    --bg-base-primary: var(--neutral-69);
    --bg-base-secondary: var(--neutral-72);
    --bg-base-tertiary: var(--neutral-76);
    --bg-brand: var(--blurple-50);
    --bg-mod-faint: hsl(240 calc(1*4%) 60.784% /0.0784313725490196);
    --bg-mod-strong: hsl(240 calc(1*4%) 60.784% /0.23921568627450981);
    --bg-mod-subtle: hsl(240 calc(1*4%) 60.784% /0.1607843137254902);
    --border-faint: hsl(240 calc(1*4%) 60.784% /0.0392156862745098);
    --border-strong: hsl(240 calc(1*4%) 60.784% /0.4392156862745098);
    --border-subtle: hsl(240 calc(1*4%) 60.784% /0.12156862745098039);
    --button-danger-background: var(--red-new-50);
    --button-danger-background-active: var(--red-new-61);
    --button-danger-background-disabled: var(--red-new-50);
    --button-danger-background-hover: var(--red-new-57);
    --button-danger-border: hsl(0 calc(1*0%) 100% /0.0784313725490196);
    --button-filled-brand-border: hsl(0 calc(1*0%) 100% /0.0784313725490196);
    --button-filled-brand-inverted-background-active: var(--neutral-17);
    --button-filled-brand-inverted-background-hover: var(--neutral-9);
    --button-filled-brand-inverted-text: var(--black);
    --button-filled-white-background-active: var(--neutral-17);
    --button-filled-white-background-hover: var(--neutral-9);
    --button-filled-white-text: var(--black);
    --button-outline-danger-background: hsl(240 calc(1*4%) 60.784% /0.12156862745098039);
    --button-outline-danger-background-active: hsl(240 calc(1*5.882%) 33.333% /0.3);
    --button-outline-danger-background-hover: hsl(240 calc(1*4%) 60.784% /0.2);
    --button-outline-danger-border: hsl(240 calc(1*4%) 60.784% /0.0392156862745098);
    --button-outline-danger-border-active: hsl(240 calc(1*4%) 60.784% /0.0392156862745098);
    --button-outline-danger-border-hover: hsl(240 calc(1*4%) 60.784% /0.0392156862745098);
    --button-outline-danger-text: var(--red-345);
    --button-outline-danger-text-active: var(--red-345);
    --button-outline-danger-text-hover: var(--red-345);
    --button-positive-background: var(--green-new-50);
    --button-positive-background-active: var(--green-new-57);
    --button-positive-background-disabled: var(--green-new-50);
    --button-positive-background-hover: var(--green-new-53);
    --button-positive-border: hsl(0 calc(1*0%) 100% /0.0784313725490196);
    --button-secondary-background: hsl(240 calc(1*4%) 60.784% /0.12156862745098039);
    --button-secondary-background-active: hsl(240 calc(1*5.882%) 33.333% /0.3);
    --button-secondary-background-disabled: hsl(240 calc(1*4%) 60.784% /0.12156862745098039);
    --button-secondary-background-hover: hsl(240 calc(1*4%) 60.784% /0.2);
    --button-secondary-text: var(--neutral-6);
    --button-transparent-background: hsl(240 calc(1*4%) 60.784% /0.12156862745098039);
    --button-transparent-background-active: hsl(240 calc(1*5.882%) 33.333% /0.3);
    --button-transparent-background-hover: hsl(240 calc(1*4%) 60.784% /0.2);
    --button-transparent-text: var(--neutral-6);
    --card-primary-bg: var(--neutral-66);
    --card-secondary-bg: hsl(240 calc(1*4%) 60.784% /0.0784313725490196);
    --channel-icon: var(--neutral-15);
    --channels-default: var(--neutral-22);
    --header-muted: var(--neutral-22);
    --header-primary: var(--neutral-1);
    --header-secondary: var(--neutral-11);
    --icon-muted: var(--neutral-22);
    --icon-primary: var(--neutral-2);
    --icon-secondary: var(--neutral-15);
    --info-danger-background: var(--red-new-75);
    --info-danger-text: var(--red-new-12);
    --info-help-background: var(--blue-new-77);
    --info-help-text: var(--blue-new-16);
    --info-positive-background: var(--green-new-76);
    --info-positive-text: var(--green-new-17);
    --info-warning-background: var(--yellow-new-76);
    --info-warning-text: var(--yellow-new-15);
    --input-background: hsl(0 calc(1*0%) 0% /0.0784313725490196);
    --input-border: hsl(240 calc(1*4%) 60.784% /0.2);
    --input-focused-border: hsl(0 calc(1*0%) 100% /0.04);
    --input-placeholder-text: var(--neutral-31);
    --interactive-active: var(--neutral-1);
    --interactive-hover: var(--neutral-15);
    --interactive-normal: var(--neutral-15);
    --mention-background: hsl(234.935 calc(1*85.556%) 64.706% /0.23921568627450981);
    --mention-foreground: var(--blurple-10);
    --message-reacted-background: hsl(234.935 calc(1*85.556%) 64.706% /0.23921568627450981);
    --message-reacted-text: var(--blurple-5);
    --modal-background: var(--neutral-66);
    --modal-footer-background: var(--neutral-66);
    --scrollbar-auto-scrollbar-color-thumb: var(--neutral-38);
    --scrollbar-auto-scrollbar-color-track: var(--neutral-75);
    --scrollbar-auto-thumb: var(--neutral-37);
    --scrollbar-auto-track: hsl(0 calc(1*0%) 0% /0);
    --scrollbar-thin-thumb: var(--neutral-39);
    --spine-default: hsl(240 calc(1*4%) 60.784% /0.4392156862745098);
    --text-brand: var(--blurple-25);
    --text-link: var(--blue-new-26);
    --text-muted: var(--neutral-22);
    --text-normal: var(--neutral-11);
    --text-positive: var(--green-new-17);
    --text-primary: var(--neutral-1);
    --text-secondary: var(--neutral-15);
    --text-warning: var(--yellow-new-15);
    --app-border-frame: hsl(240 calc(1*4%) 60.784% /0.12156862745098039);
    --background-base-low: var(--neutral-69);
    --background-base-lower: var(--neutral-72);
    --background-base-lowest: var(--neutral-76);
    --background-code: hsl(234.935 calc(1*85.556%) 64.706% /0.0784313725490196);
    --background-code-addition: hsl(145.97 calc(1*100%) 26.275% /0.12156862745098039);
    --background-code-deletion: hsl(355.636 calc(1*64.706%) 50% /0.12156862745098039);
    --background-feedback-critical: var(--red-new-75);
    --background-feedback-info: var(--blue-new-77);
    --background-feedback-positive: var(--green-new-76);
    --background-feedback-warning: var(--yellow-new-76);
    --background-mod-faint: hsl(240 calc(1*4%) 60.784% /0.0392156862745098);
    --background-mod-normal: hsl(240 calc(1*4%) 60.784% /0.1607843137254902);
    --background-mod-strong: hsl(240 calc(1*4%) 60.784% /0.23921568627450981);
    --background-mod-subtle: hsl(240 calc(1*4%) 60.784% /0.0784313725490196);
    --background-surface-high: var(--neutral-66);
    --background-surface-higher: var(--neutral-63);
    --background-surface-highest: var(--neutral-60);
    --border-feedback-critical: hsl(355.636 calc(1*64.706%) 50% /0.2);
    --border-normal: hsl(240 calc(1*4%) 60.784% /0.2);
    --chat-background-default: var(--neutral-69);
    --checkbox-background-checked: var(--blurple-50);
    --checkbox-background-default: hsl(240 calc(1*4%) 60.784% /0.0392156862745098);
    --checkbox-border-checked: var(--blurple-50);
    --checkbox-border-default: var(--neutral-34);
    --icon-default: var(--neutral-2);
    --icon-tertiary: var(--neutral-22);
    --notice-background-critical: var(--red-new-75);
    --notice-background-info: var(--blue-new-77);
    --notice-background-positive: var(--green-new-76);
    --notice-background-warning: var(--yellow-new-76);
    --notice-text-critical: var(--red-new-1);
    --notice-text-info: var(--blue-new-2);
    --notice-text-positive: var(--green-new-3);
    --notice-text-warning: var(--yellow-new-1);
    --text-code-addition: var(--green-new-8);
    --text-code-builtin: var(--orange-new-21);
    --text-code-bullet: var(--yellow-new-22);
    --text-code-comment: var(--neutral-27);
    --text-code-default: var(--blue-new-18);
    --text-code-deletion: var(--red-new-5);
    --text-code-keyword: var(--red-new-20);
    --text-code-section: var(--blue-new-18);
    --text-code-string: var(--teal-new-18);
    --text-code-tag: var(--green-new-24);
    --text-code-title: var(--blurple-12);
    --text-code-variable: var(--blue-new-23);
    --text-default: var(--neutral-11);
    --text-feedback-critical: var(--red-new-12);
    --text-feedback-info: var(--blue-new-16);
    --text-feedback-positive: var(--green-new-17);
    --text-feedback-warning: var(--yellow-new-15);
    --text-tertiary: var(--neutral-22);
}