/**
 * @name midnight (lilypichu)
 * @description a dark, customizable discord theme. based on lilypichu theme (https://github.com/NYRI4/LilyPichu).
 * @author refact0r
 * @version 2.1.1
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/themes/flavors/midnight-lilypichu.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* import theme modules */
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

body {
    /* font options */
    --font: 'Nunito'; /* change to '' for default discord font */
    --code-font: ''; /* change to '' for default discord font */
    font-weight: 400; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */

    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: on; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: hide; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: image; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url('https://raw.githubusercontent.com/NYRI4/LilyPichu/main/assets/icon.png'); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* chatbar options */
    --custom-chatbar: off; /* off: default chatbar, separated: chatbar separated from chat */
    --chatbar-height: 47px; /* height of the chatbar (56px by default, 47px to align with user panel, 56px recommended for separated) */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
    --colors: on; /* off: discord default colors, on: midnight custom colors */

    /* text colors */
    --text-0: var(--bg-4); /* text on colored elements */
    --text-1: hsl(350, 62%, 93%); /* other normally white text */
    --text-2: hsl(349, 54%, 86%); /* headings and important text */
    --text-3: hsl(348, 48%, 88%); /* normal text */
    --text-4: hsl(347, 40%, 68%); /* icon buttons and channels */
    --text-5: hsl(346, 32%, 45%); /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: hsl(337, 27%, 43%); /* dark buttons when clicked */
    --bg-2: hsl(341, 27%, 36%); /* dark buttons */
    --bg-3: hsl(345, 27%, 29%); /* spacing, secondary elements */
    --bg-4: hsl(349, 28%, 22%); /* main background color */
    --hover: hsla(346, 32%, 45%, 0.1); /* channels and buttons when hovered */
    --active: hsla(346, 32%, 45%, 0.2); /* channels and buttons when clicked or selected */
    --active-2: hsla(346, 32%, 45%, 0.3); /* extra state for transparent buttons */
    --message-hover: hsla(346, 0%, 0%, 0.1); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--red-1); /* links and other accent text */
    --accent-2: var(--red-2); /* small accent elements */
    --accent-3: var(--red-3); /* accent buttons */
    --accent-4: var(--red-4); /* accent buttons when hovered */
    --accent-5: var(--red-5); /* accent buttons when clicked */
    --accent-new: var(--accent-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: var(--green-2); /* change to #40a258 for default */
    --dnd: var(--red-2); /* change to #d83a41 for default */
    --idle: var(--yellow-2); /* change to #cc954c for default */
    --streaming: var(--purple-2); /* change to ##9147ff for default */
    --offline: var(--text-4); /* change to #82838b for default offline color */

    /* border colors */
    --border-light: hsl(347, 40%, 68%, 0.1); /* general light border color */
    --border: hsl(347, 40%, 68%, 0.2); /* general normal border color */
    --border-hover: hsl(347, 40%, 68%, 0.2); /* border color of panels when hovered */
    --button-border: hsl(347, 0%, 100%, 0.1); /* neutral border color of buttons */

    /* base colors */
    --red-1: hsl(347, 50%, 65%);
    --red-2: hsl(347, 50%, 60%);
    --red-3: hsl(347, 50%, 55%);
    --red-4: hsl(347, 50%, 50%);
    --red-5: hsl(347, 50%, 45%);

    --green-1: hsl(160, 50%, 55%);
    --green-2: hsl(160, 50%, 50%);
    --green-3: hsl(160, 50%, 45%);
    --green-4: hsl(160, 50%, 40%);
    --green-5: hsl(160, 50%, 35%);

    --blue-1: hsl(200, 50%, 60%);
    --blue-2: hsl(200, 50%, 55%);
    --blue-3: hsl(200, 50%, 50%);
    --blue-4: hsl(200, 50%, 45%);
    --blue-5: hsl(200, 50%, 40%);

    --yellow-1: hsl(50, 50%, 60%);
    --yellow-2: hsl(50, 50%, 55%);
    --yellow-3: hsl(50, 50%, 50%);
    --yellow-4: hsl(50, 50%, 45%);
    --yellow-5: hsl(50, 50%, 40%);

    --purple-1: hsl(280, 45%, 60%);
    --purple-2: hsl(280, 45%, 55%);
    --purple-3: hsl(280, 45%, 50%);
    --purple-4: hsl(280, 45%, 45%);
    --purple-5: hsl(280, 45%, 40%);
}
