/* base color variables */
.theme-dark {
	/* main accent color */
	--accent-color: hsl(190, 60%, 50%);
	/* color of accent color buttons on hover */
	--accent-color-2: hsl(190, 60%, 55%);
	/* color of accent color buttons on click */
	--accent-color-3: hsl(190, 60%, 40%);
	/* link color */
	--link-color: hsl(190, 90%, 50%);
	/* user mention background */
	--mention-background: hsl(190, 60%, 50%, 0.3);
	/* background of messages that mention you */
	--mentioned-background: hsla(190, 60%, 50%, 0.1);
	/* background of messages that mention you on hover */
	--mentioned-hover-background: hsla(190, 60%, 50%, 0.08);
	/* main text color (messages, titles, unread text/indicators) */
	--primary-text: hsl(220, 15%, 60%);
	/* secondary text color (channels, descriptions, buttons) */
	--secondary-text: hsl(220, 15%, 40%);
	/* muted text color (input box placeholders, muted channels, message times) */
	--muted-text: hsl(220, 15%, 20%);
	/* main chat/channel list/member list background */
	--primary-background: hsl(220, 15%, 10%);
	/* background of pretty much everything else */
	--secondary-background: hsl(220, 15%, 13%);
	/* scrollbar thumb color */
	--scrollbar-color: hsl(220, 15%, 11%);
	/* color of things on hover */
	--hover-modifier: hsla(220, 15%, 20%, 0.1);
	/* color of things when clicked */
	--active-modifier: hsla(220, 15%, 20%, 0.2);
	/* color of things when selected */
	--selected-modifier: hsla(220, 15%, 20%, 0.3);
	/* amount of glow (set to 0 to disable) */
	--glow-amount: 10px;
}

/* change colors */
.theme-dark {
	--header-primary: var(--primary-text);
	--header-secondary: var(--secondary-text);
	--text-normal: var(--primary-text);
	--text-muted: var(--muted-text);
	--text-link: var(--link-color);
	--text-link-low-saturation: var(--link-color);
	--text-positive: hsl(139, 51.6%, 52.2%);
	--text-warning: hsl(38, 95.7%, 54.1%);
	--text-danger: hsl(359, 82%, 73.9%);
	--text-brand: hsl(235, 86.1%, 77.5%);
	--interactive-normal: var(--secondary-text);
	--interactive-hover: var(--primary-text);
	--interactive-active: var(--primary-text);
	--interactive-muted: var(--muted-text);
	--background-primary: var(--primary-background);
	--background-secondary: var(--secondary-background);
	--background-secondary-alt: var(--secondary-background);
	--background-tertiary: var(--secondary-background);
	--background-accent: var(--muted-text);
	--background-floating: var(--primary-background);
	--background-nested-floating: var(--primary-background);
	--background-mobile-primary: var(--primary-background);
	--background-mobile-secondary: var(--secondary-background);
	--chat-background: var(--primary-background);
	--chat-border: var(--secondary-background);
	--chat-input-container-background: var(--primary-background);
	--background-modifier-hover: var(--hover-modifier);
	--background-modifier-active: var(--active-modifier);
	--background-modifier-selected: var(--selected-modifier);
	--background-modifier-accent: var(--selected-modifier);
	--info-positive-background: hsla(139, 47.3%, 43.9%, 0.1);
	--info-positive-foreground: hsl(139, 47.3%, 43.9%);
	--info-positive-text: var(--primary-text);
	--info-warning-background: hsla(38, 95.7%, 54.1%, 0.1);
	--info-warning-foreground: hsl(38, 95.7%, 54.1%);
	--info-warning-text: var(--primary-text);
	--info-danger-background: hsla(359, 82.6%, 59.4%, 0.1);
	--info-danger-foreground: hsl(359, 82.6%, 59.4%);
	--info-danger-text: var(--primary-text);
	--info-help-background: hsla(197, 100%, 47.8%, 0.1);
	--info-help-foreground: hsl(197, 100%, 47.8%);
	--info-help-text: var(--primary-text);
	--status-positive-background: hsl(139, 47.1%, 33.3%);
	--status-positive-text: var(--primary-text);
	--status-warning-background: hsl(38, 95.7%, 54.1%);
	--status-warning-text: #000;
	--status-danger-background: hsl(359, 82.6%, 59.4%);
	--status-danger-text: var(--primary-text);
	--status-danger: hsl(359, 82.6%, 59.4%);
	--status-positive: hsl(139, 47.3%, 43.9%);
	--status-warning: hsl(38, 95.7%, 54.1%);
	--button-danger-background: hsl(359, 66.7%, 54.1%);
	--button-danger-background-hover: hsl(359, 56.3%, 40.4%);
	--button-danger-background-active: hsl(359, 56.4%, 35.1%);
	--button-danger-background-disabled: hsl(359, 66.7%, 54.1%);
	--button-positive-background: hsl(139, 47.1%, 33.3%);
	--button-positive-background-hover: hsl(138, 46.8%, 24.3%);
	--button-positive-background-active: hsl(138, 46.9%, 22.2%);
	--button-positive-background-disabled: hsl(139, 47.1%, 33.3%);
	--button-secondary-background: var(--muted-text);
	--button-secondary-background-hover: #686d73;
	--button-secondary-background-active: #72767d;
	--button-secondary-background-disabled: var(--muted-text);
	--button-outline-danger-text: var(--primary-text);
	--button-outline-danger-border: hsl(359, 82.6%, 59.4%);
	--button-outline-danger-background: hsla(0, 0%, 100%, 0);
	--button-outline-danger-background-hover: hsl(359, 66.7%, 54.1%);
	--button-outline-danger-text-hover: var(--primary-text);
	--button-outline-danger-border-hover: hsl(359, 66.7%, 54.1%);
	--button-outline-danger-background-active: hsl(359, 56.7%, 48%);
	--button-outline-danger-text-active: var(--primary-text);
	--button-outline-danger-border-active: hsl(359, 66.7%, 54.1%);
	--button-outline-positive-text: var(--primary-text);
	--button-outline-positive-border: hsl(139, 47.3%, 43.9%);
	--button-outline-positive-background: hsla(0, 0%, 100%, 0);
	--button-outline-positive-background-hover: hsl(139, 47.1%, 33.3%);
	--button-outline-positive-text-hover: var(--primary-text);
	--button-outline-positive-border-hover: hsl(139, 47.1%, 33.3%);
	--button-outline-positive-background-active: hsl(138, 46.8%, 24.3%);
	--button-outline-positive-text-active: var(--primary-text);
	--button-outline-positive-border-active: hsl(138, 46.8%, 24.3%);
	--button-outline-brand-text: var(--primary-text);
	--button-outline-brand-border: hsl(235, 85.6%, 64.7%);
	--button-outline-brand-background: hsla(0, 0%, 100%, 0);
	--button-outline-brand-background-hover: hsl(235, 85.6%, 64.7%);
	--button-outline-brand-text-hover: var(--primary-text);
	--button-outline-brand-border-hover: hsl(235, 85.6%, 64.7%);
	--button-outline-brand-background-active: hsl(235, 51.4%, 52.4%);
	--button-outline-brand-text-active: var(--primary-text);
	--button-outline-brand-border-active: hsl(235, 51.4%, 52.4%);
	--button-outline-primary-text: var(--primary-text);
	--button-outline-primary-border: var(--muted-text);
	--button-outline-primary-background: hsla(0, 0%, 100%, 0);
	--button-outline-primary-background-hover: var(--muted-text);
	--button-outline-primary-text-hover: var(--primary-text);
	--button-outline-primary-border-hover: var(--muted-text);
	--button-outline-primary-background-active: #686d73;
	--button-outline-primary-text-active: var(--primary-text);
	--button-outline-primary-border-active: #686d73;
	--modal-background: var(--primary-background);
	--modal-footer-background: var(--secondary-background);
	--scrollbar-thin-thumb: var(--secondary-background);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: var(--secondary-background);
	--scrollbar-auto-track: transparent;
	--scrollbar-auto-scrollbar-color-thumb: var(--secondary-background);
	--scrollbar-auto-scrollbar-color-track: var(--secondary-background);
	--input-background: var(--secondary-background);
	--input-placeholder-text: var(--text-muted);
	--elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
	--elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
		0 2px 0 rgba(4, 4, 5, 0.05);
	--elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
	--logo-primary: var(--primary-text);
	--control-brand-foreground: hsl(235, 86.1%, 77.5%);
	--control-brand-foreground-new: hsl(235, 86.1%, 77.5%);
	--background-mentioned: var(--mentioned-background);
	--background-mentioned-hover: var(--mentioned-hover-background);
	--background-message-hover: rgba(4, 4, 5, 0.07);
	--background-message-automod: var(--mentioned-background);
	--background-message-automod-hover: var(--mentioned-hover-background);
	--channels-default: var(--secondary-text);
	--channel-icon: var(--secondary-text);
	--channel-text-area-placeholder: var(--text-muted);
	--guild-header-text-shadow: none;
	--channeltextarea-background: var(--secondary-background);
	--activity-card-background: var(--secondary-background);
	--textbox-markdown-syntax: var(--secondary-text);
	--spoiler-revealed-background: var(--secondary-background);
	--spoiler-hidden-background: var(--secondary-background);
	--android-navigation-bar-background: #121315;
	--deprecated-card-bg: var(--secondary-background);
	--deprecated-card-editable-bg: var(--secondary-background);
	--deprecated-store-bg: var(--primary-background);
	--deprecated-quickswitcher-input-background: var(--secondary-background);
	--deprecated-quickswitcher-input-placeholder: var(--muted-text);
	--deprecated-text-input-bg: var(--secondary-background);
	--deprecated-text-input-border: rgba(0, 0, 0, 0.3);
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: var(--secondary-background);
	--deprecated-text-input-prefix: var(--primary-text);

	--search-popout-option-fade: none;
	--search-popout-option-fade-hover: none;
	--search-popout-option-user-nickname: var(--primary-text);
	--search-popout-option-user-username: var(--muted-text);
	--search-popout-option-filter-text: var(--primary-text);
	--search-popout-option-non-text-color: var(--primary-text);
	--search-popout-option-filter-color: var(--primary-text);
	--search-popout-option-answer-color: var(--primary-text);
	--search-popout-date-picker-border: none;
	--search-popout-date-picker-hint-text: var(--primary-text);
	--search-popout-date-picker-hint-value-text: var(--primary-text);
	--search-popout-date-picker-hint-value-background: var(--brand-experiment);
	--search-popout-date-picker-hint-value-background-hover: var(
		--brand-experiment-430
	);

	--brand-experiment: var(--accent-color);
	--brand-experiment-30a: var(--mention-background);
	--brand-experiment-360: var(--accent-color);
	--brand-experiment-560: var(--accent-color-2);
	--brand-experiment-600: var(--accent-color-3);
}

/* fix things that don't use color vars */
.peopleColumn-1wMU14, /* friend list */
.autocomplete-3NRXG8, /* autocomplete (slash commands, mentions) */
.categoryHeader-OpJ1Ly, /* slash commands list headers */
.folderIconWrapper-1oRIZr, /* folder closed */
.expandedFolderBackground-1kSAf6, /* folder expanded */
.queryContainer-ZunrLZ, /* search suggestions top */
.container-KM8BU6, .reactors-1VXca7 /* reactions panel */ {
	background-color: var(--primary-background) !important;
}
.dim-2Uxgxb .key-N5VmHN, /* keyboard button */ 
.scroller-2GkvCq, /* reactions panel sidebar */
.message-G6O-Wv /* delete message confirmation message */ {
	background-color: var(--secondary-background) !important;
}
.expandedFolderIconWrapper-3RwQpD svg /* folder icon */ {
	color: var(--accent-color) !important;
}
.mentioned-Tre-dv:before /* mentioned message border */ {
	background-color: var(--accent-color);
}
.divider-2rZFJK /* unread divider */ {
	--divider-color: var(--accent-color);
}
.colorPrimary-2AuQVo, /* buttons */
.queryContainer-ZunrLZ strong /* "search for" below search box */ {
	color: var(--primary-text) !important;
}
.queryContainer-ZunrLZ, /* search suggestions top */
.dim-2Uxgxb .key-N5VmHN /* keyboard button */ {
	color: var(--secondary-text) !important;
}
.dim-2Uxgxb .key-N5VmHN /* keyboard button */ {
	box-shadow: var(--secondary-background) !important;
}
.searchAnswer-23w-CH, /* search filters */
.searchFilter-2UfsDk {
	color: var(--primary-text) !important;
	background-color: var(--muted-text) !important;
}

/* change colors */
.scroller-WSmht3, /*  dm list */
.privateChannels-oVe7HL, /* top of dm list */
.panels-3wFtMD, /* user panel with mute button */
.container-1NXEtd, /* channel list */
.members-3WRCEx, /* members list */
.members-3WRCEx > div, /* members list */ 
.searchResultsWrap-5RVOkx, /* search results */
.searchHeader-1r_ZSh, /* search results header */
.channelName-3w2Y3c, /* search result channel name */ 
.searchBar-3aIzc-, /* gif panel search bar */
.container-1SX9VC /* emoji/sticker panel search bar */ {
	background-color: var(--primary-background);
}
.searchResult-O9NDji {
	background-color: var(--secondary-background);
}

/* add margins */
.base-2jDfDU /* outside edges */ {
	padding: 0px 10px 10px 0;
}
.container-2cd8Mz, /* friend list*/
.chat-2ZfjoI, /* main chat */
.applicationStore-2nk7Lo /* nitro page */ {
	margin-left: 10px;
}
.content-1jQy2l /* between chat and member list */ {
	gap: 10px;
}
.resizeHandle-PBRzPC /* pretend to be a margin */ {
	width: 10px;
}

/* add rounded corners */
.sidebar-1tnWFu, /* channel list */ 
.container-2cd8Mz, /* friends list */
.container-3XgAHv, /* new thread */
.callContainer-HtHELf, /* voice channel */
.applicationStore-2nk7Lo /* nitro page */ {
	border-radius: 10px !important;
}
.chatContent-3KubbW, /* main chat */
.members-3WRCEx, /* member list */
.searchResultsWrap-5RVOkx /* search results */ {
	border-radius: 0px 0px 10px 10px;
}
.chatContent-3KubbW::before, /* top of main chat */
.membersWrap-3NUR2t::before, /* top of member list */
.searchResultsWrap-5RVOkx::before, /* top of search results */ 
.wrapper-1gVUIN /* private call */ {
	border-radius: 10px 10px 0px 0px;
}

/* remove big chat background and add back smaller */
.chat-2ZfjoI {
	background: none !important;
}
.chatContent-3KubbW {
	background-color: var(--primary-background) !important;
}

/* remove chat header background */
.title-31SJ6t {
	background: none !important;
}

/* add header backgrounds */
.membersWrap-3NUR2t::before, /* member list */
.chatContent-3KubbW::before, /* main chat */
.searchResultsWrap-5RVOkx::before /* search results */ {
	content: '';
	position: absolute;
	margin-top: -48px;
	background-color: var(--primary-background);
	width: 100%;
	height: 48px;
}
.searchResultsWrap-5RVOkx /* show header on search results */ {
	overflow: visible;
}

/* fix members list height */
.membersWrap-3NUR2t {
	height: 100%;
}

/* rearrange toolbar */
.iconWrapper-2awDjA[aria-label='Help'] {
	display: none;
}
.iconWrapper-2awDjA[aria-label*='Member List'] {
	order: 1;
}
.search-39IXmY {
	order: 1;
	margin-left: 30px;
}
.searchBar-jGtisZ {
	width: 208px !important;
	padding: 0px 2px;
}
.searchResultsWrap-5RVOkx {
	width: 470px;
}

/* remove shadows */
.content-1jQy2l::before /* main chat header */, 
.tabBody-2dgbAs::before, /* friend list header */
.chat-1-OBC7::before, /* channel chat header */ 
.headerBar-1dSpQr:before, /* nitro page header */
.searchBar-3TnChZ, /* dm list header */
.header-3OsQeK, /* channel list header */ 
.header-uVCAlo, /* sticker panel header */
.header-2TLOnc, /* gif panel header */ 
.header-11eigE /* emoji panel header */ {
	box-shadow: none !important;
}
.children-3xh0VB:after /* toolbar shadow */ {
	background: none !important;
}

/* remove active now card borders */
.itemCard-3Etziu {
	border: none;
}

/* only show scrollbar when hover */
.scrollerBase-_bVAAt:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}
.scrollerBase-_bVAAt::-webkit-scrollbar-thumb {
	visibility: hidden;
}

/* window controls */
.withFrame-2dL45i {
	height: 20px;
}
.typeWindows-2-g3UY .winButton-3UMjdg > svg {
	display: none;
}
.typeWindows-2-g3UY .winButton-3UMjdg {
	top: 0;
	width: 12px;
	height: 12px;
	margin: 2px 12px 0px 0px;
	border-radius: 12px;
}
.typeWindows-2-g3UY .winButton-3UMjdg::after {
	content: '';
	height: 12px;
	width: 12px;
	border-radius: 12px;
	transition: 0.1s;
}
.typeWindows-2-g3UY .winButtonClose-3Q8ZH5::after {
	background-color: hsl(0, 50%, 50%) !important;
}
.typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(3)::after {
	background-color: hsl(120, 50%, 50%) !important;
}
.typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(4)::after {
	background-color: hsl(50, 50%, 50%) !important;
}
.typeWindows-2-g3UY > div:hover::after {
	transform: scale(1.1);
}

/* top corner title */
.wordmarkWindows-2dq6rw svg {
	display: none;
}
.wordmarkWindows-2dq6rw::after {
	content: 'Midnight';
	display: block;
	position: relative;
	width: 200px;
	height: 16px;
	line-height: 16px;
	font-family: var(--font-headline);
	font-size: 11px;
	font-weight: 600;
	color: var(--muted-text);
}
