/**
 * @name midnight
 * @description A darkened discord theme.
 * @author refact0r
 * @version 1.2.0
 * @source https://github.com/refact0r/midnight-discord
 * @authorId 508863359777505290
*/

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* change colors here */
/* a color picker should show up if you hover over the "hsl(x, y, z)" part */
.theme-dark {
	/* main accent color */
	--accent-color: hsl(190, 60%, 50%);
	/* color of accent color buttons on hover */
	--accent-color-2: hsl(190, 60%, 55%);
	/* color of accent color buttons on click */
	--accent-color-3: hsl(190, 60%, 40%);
	/* link color */
	--link-color: hsl(190, 90%, 50%);
	/* user mention background */
	--mention-background: hsl(190, 60%, 50%, 0.3);
	/* background of messages that mention you */
	--mentioned-background: hsla(190, 60%, 50%, 0.1);
	/* background of messages that mention you on hover */
	--mentioned-hover-background: hsla(190, 60%, 50%, 0.08);
	/* main text color (messages, titles, unread text/indicators) */
	--primary-text: hsl(220, 15%, 60%);
	/* secondary text color (channels, descriptions, buttons) */
	--secondary-text: hsl(220, 15%, 40%);
	/* muted text color (input box placeholders, muted channels, message times) */
	--muted-text: hsl(220, 15%, 20%);
	/* main chat/channel list/member list background */
	--primary-background: hsl(220, 15%, 10%);
	/* background of pretty much everything else */
	--secondary-background: hsl(220, 15%, 13%);
	/* scrollbar thumb color */
	--scrollbar-color: hsl(220, 15%, 11%);
	/* color of things on hover */
	--hover-modifier: hsla(220, 15%, 20%, 0.1);
	/* color of things when clicked */
	--active-modifier: hsla(220, 15%, 20%, 0.2);
	/* color of things when selected */
	--selected-modifier: hsla(220, 15%, 20%, 0.3);
	/* amount of glow (set to 0 to disable) */
	--glow-amount: 10px;
}
