/**
 * @name midnight (biscuit)
 * @description A dark, rounded discord theme. Based on Biscuit theme (https://github.com/Biscuit-Colorscheme/biscuit).
 * @author refact0r, anubis
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/flavors/midnight-biscuit.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'figtree';

	/* color of status indicators and window controls */
	--online-indicator: #d0d694; /* change to #23a55a for default green */
	--dnd-indicator: #cf223e; /* change to #f13f43 for default red */
	--idle-indicator: #e39c45; /* change to #f0b232 for default yellow */
	--streaming-indicator: #614f76; /* change to #593695 for default purple */

	/* top left corner text */
	--corner-text: 'Biscuit';

	/* accent colors */
	--accent-1: hsl(268, 20%, 65%); /* links */
	--accent-2: hsl(268, 20%, 60%); /* general unread/mention elements */
	--accent-3: hsl(268, 20%, 50%); /* accent buttons */
	--accent-4: hsl(268, 20%, 39%); /* accent buttons when hovered */
	--accent-5: hsl(268, 20%, 34%); /* accent buttons when clicked */
	--mention: hsla(268, 20%, 39%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(268, 20%, 39%, 0.05); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: var(--text-2); /* text on colored elements */
	--text-1: hsl(24, 31%, 80%); /* other normally white text */
	--text-2: hsl(30, 100%, 89%); /* headings and important text */
	--text-3: hsl(24, 31%, 80%); /* normal text */
	--text-4: hsl(0, 12%, 66%); /* icon buttons and channels */
	--text-5: hsl(0, 12%, 56%); /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: hsl(0, 12%, 40%); /* dark buttons when clicked */
	--bg-2: hsl(0, 12%, 24%); /* dark buttons */
	--bg-3: hsl(0, 11%, 16%); /* spacing, secondary elements */
	--bg-4: hsl(0, 11%, 9%); /* main background color */
	--hover: hsla(345, 27%, 29%, 0.1); /* channels and buttons when hovered */
	--active: hsla(345, 27%, 29%, 0.2); /* channels and buttons when clicked or selected */
	--message-hover: hsla(345, 0%, 0%, 0.1); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: none; /* moon icon */
	--moon-icon-url: none;
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
}
.childWrapper__760c6:has(> svg:not(.favoriteIcon_adf80e)) {
	background-image: url('https://raw.githubusercontent.com/Biscuit-Colorscheme/.github/main/assets/icon-dark-nobg.png');
	background-color: transparent !important;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
