/**
 * @name amaryllis (dark)
 * @description A dark, rounded discord theme.
 * @author refact0r, anubis, .yuhki
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/flavors/midnight-amaryllis.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

@import url('https://api.fontshare.com/v2/css?f[]=chillax@400&display=swap');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font */
	--font: 'Chillax', sans-serif;

	/* top left corner text */
	--corner-text: 'Amaryllis';

	/* color of status indicators and window controls */
	--online-indicator: #ccfca1; /* change to #23a55a for default green */
	--dnd-indicator: #ff8692; /* change to #f13f43 for default red */
	--idle-indicator: #ffdb93; /* change to #f0b232 for default yellow */
	--streaming-indicator: #b3a0ff; /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: hsl(0, 25%, 65%); /* links */
	--accent-2: hsl(0, 43%, 67%); /* general unread/mention elements */
	--accent-3: hsl(0, 43%, 67%); /* accent buttons */
	--accent-4: hsl(0, 37%, 60%); /* accent buttons when hovered */
	--accent-5: hsl(0, 31%, 53%); /* accent buttons when clicked */
	--mention: hsla(0, 0%, 28%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(0, 0%, 31%, 0.05); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: #111111; /* text on colored elements */
	--text-1: #eceff4; /* other normally white text */
	--text-2: #e5e9f0; /* headings and important text */
	--text-3: #eceff4; /* normal text */
	--text-4: #8c8c8c; /* icon buttons and channels */
	--text-5: #a4a4a4; /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: #232323; /* dark buttons when clicked */
	--bg-2: #1d1c1c; /* dark buttons */
	--bg-3: #111111; /* spacing, secondary elements */
	--bg-4: #0a0a0a; /* main background color */
	--hover: hsla(0, 0%, 8%, 0.3); /* buttons when hovered */
	--active: hsla(0, 0%, 13%, 0.5); /* channels and buttons when clicked or selected */
	--message-hover: hsla(0, 0%, 0%, 0.1); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: none; /* moon icon */
	--moon-icon-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 27' width='24' height='24'%3E%3Cpath fill='currentColor' d='M0 0h7v1H6v1H5v1H4v1H3v1H2v1h5v1H0V6h1V5h1V4h1V3h1V2h1V1H0m13 2h5v1h-1v1h-1v1h-1v1h3v1h-5V7h1V6h1V5h1V4h-3m8 5h1v5h1v-1h1v1h-1v1h1v-1h1v1h-1v3h-1v1h-2v1h-1v1h1v-1h2v-1h1v2h-1v1h-2v1h-1v-1h-1v1h-6v-1h-1v-1h-1v-2h1v1h2v1h3v1h1v-1h-1v-1h-3v-1h-4v-4h1v-2h1v-1h1v-1h1v2h1v1h1v-1h1v1h-1v1h2v-2h1v-2h1v-1h1M8 14h2v1H9v4h1v2h1v1h1v1h1v1h4v1h-6v-1H5v-1H4v-5h1v-1h1v-2h2m17 3h1v3h-1v1h-1v1h-1v2h-2v-2h2v-1h1v-1h1m1 0h1v3h-1v1h-2v-1h1v-1h1'%3E%3C/path%3E%3C/svg%3E"); /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
}

.childWrapper_f90abb:has(> svg:not(.favoriteIcon_dcc7a4)) {
	background-image: url('https://github.com/yuhkix/midnight-discord/blob/master/assets/amaryllis/amaryllis.png?raw=true');
	background-color: transparent !important;
	background-size: cover;
	background-position: center;
}
