/**
 * @name midnight (pichu)
 * @description A dark, rounded discord theme. Based on LilyPichu theme (https://github.com/NYRI4/LilyPichu).
 * @author refact0r, anubis
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/flavors/midnight-pichu.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'Nunito';

	/* color of status indicators and window controls */
	--online-indicator: hsl(160, 50%, 55%); /* change to #23a55a for default green */
	--dnd-indicator: var(--accent-3); /* change to #f13f43 for default red */
	--idle-indicator: hsl(50, 50%, 55%); /* change to #f0b232 for default yellow */
	--streaming-indicator: hsl(260, 50%, 55%); /* change to #593695 for default purple */

	/* top left corner text */
	--corner-text: 'LilyPichu';

	/* accent colors */
	--accent-1: hsl(347, 50%, 65%); /* links */
	--accent-2: hsl(347, 50%, 60%); /* general unread/mention elements */
	--accent-3: hsl(347, 50%, 55%); /* accent buttons */
	--accent-4: hsl(347, 50%, 50%); /* accent buttons when hovered */
	--accent-5: hsl(347, 50%, 45%); /* accent buttons when clicked */
	--mention: hsla(347, 50%, 45%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(347, 50%, 45%, 0.05); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: var(--text-2); /* text on colored elements */
	--text-1: hsl(350, 62%, 93%); /* other normally white text */
	--text-2: hsl(349, 54%, 86%); /* headings and important text */
	--text-3: hsl(348, 48%, 88%); /* normal text */
	--text-4: hsl(347, 40%, 68%); /* icon buttons and channels */
	--text-5: hsl(346, 32%, 45%); /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: hsl(337, 27%, 43%); /* dark buttons when clicked */
	--bg-2: hsl(341, 27%, 36%); /* dark buttons */
	--bg-3: hsl(345, 27%, 29%); /* spacing, secondary elements */
	--bg-4: hsl(349, 28%, 22%); /* main background color */
	--hover: hsla(345, 27%, 29%, 0.1); /* channels and buttons when hovered */
	--active: hsla(345, 27%, 29%, 0.2); /* channels and buttons when clicked or selected */
	--message-hover: hsla(345, 0%, 0%, 0.1); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: none; /* moon icon */
	--moon-icon-url: none;
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */
}
.childWrapper__760c6:has(> svg:not(.favoriteIcon_adf80e)) {
	background-image: url('https://raw.githubusercontent.com/NYRI4/LilyPichu/main/assets/icon.png');
	background-color: transparent !important;
	background-size: cover;
	background-position: center;
}
