/**
 * @name midnight (nord)
 * @description A darkened discord theme. Based on nord theme (https://github.com/nordtheme/nord).
 * @author refact0r, anubis
 * @version 1.6.2
 * @source https://github.com/refact0r/midnight-discord
 * @authorId 508863359777505290
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font */
	--font: 'figtree';

	/* top left corner text */
	--corner-text: 'Nord';

	/* color of status indicators and window controls */
	--online-indicator: #23a55a; /* change to #23a55a for default green */
	--dnd-indicator: #f13f43; /* change to #f13f43 for default red */
	--idle-indicator: #f0b232; /* change to #f0b232 for default yellow */
	--streaming-indicator: #593695; /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: #11dfdf; /* links */
	--accent-2: #f13f43; /* general unread/mention elements */
	--accent-3: hsl(164, 42%, 44%); /* accent buttons */
	--accent-4: hsl(164, 36%, 37%); /* accent buttons when hovered */
	--accent-5: hsl(164, 30%, 30%); /* accent buttons when clicked */
	--mention: hsla(193, 43%, 51%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(193, 43%, 51%, 0.05); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: #2e3440; /* text on colored elements */
	--text-1: #eceff4; /* other normally white text */
	--text-2: #e5e9f0; /* headings and important text */
	--text-3: #ECEFF4; /* normal text */
	--text-4: #93a4c2; /* icon buttons and channels */
	--text-5: #434C5E; /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: #434c5e; /* dark buttons when clicked */
	--bg-2: #3b4252; /* dark buttons */
	--bg-3: #313847; /* spacing, secondary elements */
	--bg-4: #23262d; /* main background color */
	--hover: hsla(220, 17%, 32%, 0.3); /* buttons when hovered */
	--active: hsla(220, 17%, 32%, 0.5); /* channels and buttons when clicked or selected */
	--message-hover: hsla(0, 0%, 0%, 0.1); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: block; /* moon icon */
	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
}
