/**
 * @name Rose Pine
 * @description A dark, rounded discord theme.
 * @author refact0r, anubis, PsychotherapistSam
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/flavors/midnight-rose-pine.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font */
	--font: 'figtree';

	/* top left corner text */
	--corner-text: 'Rose Pine';

	/* color of status indicators and window controls */
	--online-indicator: hsl(189, 43%, 73%); /* change to #23a55a for default green */
	--dnd-indicator: hsl(343, 76%, 68%); /* change to #f13f43 for default red */
	--idle-indicator: hsl(35, 88%, 72%); /* change to #f0b232 for default yellow */
	--streaming-indicator: hsl(267, 57%, 78%); /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: hsl(2, 65%, 88%); /* links */
	--accent-2: hsl(2, 55%, 83%); /* general unread/mention elements */
	--accent-3: hsl(2, 55%, 83%); /* accent buttons */
	--accent-4: hsl(2, 66%, 75%); /* accent buttons when hovered */
	--accent-5: hsl(3, 53%, 67%); /* accent buttons when clicked */
	--mention: hsl(2, 55%, 83%, 0.08); /* mentions & mention messages */
	--mention-hover: hsl(2, 55%, 83%, 0.04); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: hsl(249, 22%, 12%); /* text on colored elements */
	--text-1: hsl(245, 50%, 91%); /* other normally white text */
	--text-2: hsl(245, 50%, 91%); /* headings and important text */
	--text-3: hsl(245, 50%, 91%); /* normal text */
	--text-4: hsl(248, 15%, 61%); /* icon buttons and channels */
	--text-5: hsl(249, 12%, 47%); /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: hsl(249, 15%, 28%); /* dark buttons when clicked */
	--bg-2: hsl(248, 25%, 18%); /* dark buttons */
	--bg-3: hsl(247, 23%, 15%); /* spacing, secondary elements */
	--bg-4: hsl(249, 22%, 12%); /* main background color */
	--hover: hsl(247, 23%, 15%); /* buttons when hovered */
	--active: hsl(248, 25%, 18%); /* channels and buttons when clicked or selected */
	--message-hover: hsl(249, 22%, 11%); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: none; /* moon icon */
	--moon-icon-url: none; /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
}

.childWrapper__760c6:has(> svg:not(.favoriteIcon_adf80e)) {
	background-image: url('https://raw.githubusercontent.com/rose-pine/rose-pine-theme/main/assets/icon.png');
	background-color: transparent !important;
	background-size: cover;
	background-position: center;
}
