/**
 * @name midnight (spotify)
 * @description A dark, rounded discord theme. Based on spotify's color palette.
 * @author refact0r, remco0o
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/flavors/midnight-spotify.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font */
	--font: 'figtree';

	/* top left corner text */
	--corner-text: 'Spotify';

	/* thickness of messages divider */
	--divider-thickness: 3px;

	/* color of status indicators and window controls */
	--online-indicator: hsl(141, 76%, 52%); /* change to #23a55a for default green */
	--dnd-indicator: hsl(0, 76%, 52%); /* change to #f23f43 for default red */
	--idle-indicator: hsl(40, 76%, 52%); /* change to #f0b232 for default yellow */
	--streaming-indicator: hsl(260, 76%, 56%); /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: hsl(141, 80%, 70%); /* links */
	--accent-2: hsl(141, 76%, 52%); /* general unread/mention elements */
	--accent-3: hsl(141, 76%, 48%); /* accent buttons */
	--accent-4: hsl(141, 71%, 41%); /* accent buttons when hovered */
	--accent-5: hsl(141, 64%, 34%); /* accent buttons when clicked */
	--mention: hsla(141, 76%, 52%, 0.06); /* mentions & mention messages */
	--mention-hover: hsla(141, 76%, 52%, 0.03); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: #121212; /* text on colored elements */
	--text-1: #ffffff; /* other normally white text */
	--text-2: #ffffff; /* headings and important text */
	--text-3: #b3b3b3; /* normal text */
	--text-4: #797979; /* icon buttons and channels */
	--text-5: #3f3f3f; /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: #333333; /* dark buttons when clicked */
	--bg-2: #242424; /* dark buttons */
	--bg-3: #000000; /* spacing, secondary elements */
	--bg-4: #121212; /* main background color */
	--hover: #1a1a1a; /* buttons when hovered */
	--active: #232323; /* channels and buttons when clicked or selected */
	--message-hover: #0d0d0d; /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: block; /* moon icon */
	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
}
