body {
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
}

@property --animations {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

@container body style(--animations: on) {
    .visual-refresh {
        /* list hover animations */
        ._2ea32c412048f708-wrapper ._2ea32c412048f708-link /* channels */,
        ._91a9d7f7e5248a56-container /* members */,
        ._972a0d22c8afa7f0-channel /* dms */,
        .aa8da23faa27393c-side .aa8da23faa27393c-item /* settings */ {
            transition: margin-left var(--list-item-transition);
            will-change: margin-left;
        }
        ._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-link,
        .aa8da23faa27393c-side .aa8da23faa27393c-item:hover {
            margin-left: 10px;
        }
        ._91a9d7f7e5248a56-container:hover,
        ._972a0d22c8afa7f0-channel:hover {
            margin-left: 18px;
        }
        /* list hover channel dot */
        ._2ea32c412048f708-unread {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            margin-left: -4px;
            transition: var(--list-item-transition);
            will-change: margin-left;
        }
        ._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-unread {
            margin-left: 4px;
        }
    }
}
