body {
    --background-image-url: url('');
}

@property --background-image {
    syntax: 'off | on';
    inherits: false;
    initial-value: off;
}

@container body style(--background-image: on) {
    .visual-refresh #app-mount ._960e4207cea8323e-bg {
        background: var(--background-image-url);
        background-size: cover;
        background-position: center;
    }
}
