body {
    --background-image-url: url('');
}

@property --background-image {
    syntax: 'off | on';
    inherits: false;
    initial-value: off;
}

@container body style(--background-image: on) {
    #app-mount .bg__960e4 {
        background: var(--background-image-url);
        background-size: cover;
        background-position: center;
    }
}
