:root {
	/* font, change to '' for default discord font */
	--font: 'figtree';

	/* text colors */
	--text-0: var(--bg-4); /* text on colored elements */
	--text-1: var(--text-2); /* other normally white text */
	--text-2: hsl(220, 25%, 70%); /* headings and important text */
	--text-3: hsl(220, 15%, 60%); /* normal text */
	--text-4: hsl(220, 15%, 40%); /* icon buttons and channels */
	--text-5: hsl(220, 15%, 25%); /* muted channels/chats and timestamps */

	/* accent colors */
	--accent-1: var(--blue-1); /* general unread/mention elements */
	--accent-2: var(--blue-2); /* accent buttons */
	--accent-3: var(--blue-3); /* accent buttons when hovered */
	--accent-4: var(--blue-4); /* accent buttons when clicked */

	--unread-red: var(--red-1);
	--mention-yellow: var(--yellow-1);
	--mention-message: color-mix(in hsl, var(--yellow-1), transparent 90%);
	--mention-message-hover: color-mix(in hsl, var(--yellow-1), transparent 95%);

	/* background and dark colors */
	--bg-1: hsl(220, 15%, 20%); /* dark buttons when clicked */
	--bg-2: hsl(220, 15%, 16%); /* dark buttons */
	--bg-3: hsl(220, 15%, 13%); /* spacing, secondary elements */
	--bg-4: hsl(220, 15%, 10%); /* main background color */
	--hover: hsla(221, 19%, 40%, 0.1); /* channels and buttons when hovered */
	--active: hsla(220, 19%, 40%, 0.2); /* channels and buttons when clicked or selected */
	--message-hover: hsla(230, 0%, 0%, 0.1); /* messages when hovered */

	/* color of status indicators */
	--online: var(--green-1); /* change to #23a55a for default green */
	--dnd: var(--red-1); /* change to #f23f43 for default red */
	--idle: var(--yellow-1); /* change to #f0b232 for default yellow */
	--streaming: var(--purple-1); /* change to #593695 for default purple */

	--border-light: hsl(230, 20%, 40%, 0.1);
	--border: hsl(230, 20%, 40%, 0.2);
	--button-border: hsl(0, 0%, 100%, 0.1);

	--red-1: oklch(66% 0.13 0);
	--red-2: oklch(60% 0.13 0);
	--red-3: oklch(54% 0.13 0);
	--red-4: oklch(48% 0.13 0);

	--green-1: oklch(66% 0.12 160);
	--green-2: oklch(60% 0.12 160);
	--green-3: oklch(54% 0.12 160);
	--green-4: oklch(48% 0.12 160);

	--blue-1: oklch(66% 0.12 215);
	--blue-2: oklch(60% 0.12 215);
	--blue-3: oklch(54% 0.12 215);
	--blue-4: oklch(48% 0.12 215);

	--yellow-1: oklch(76% 0.12 90);
	--yellow-2: oklch(70% 0.12 90);
	--yellow-3: oklch(64% 0.12 90);
	--yellow-4: oklch(58% 0.12 90);

	--purple-1: oklch(66% 0.12 310);
	--purple-2: oklch(60% 0.12 310);
	--purple-3: oklch(54% 0.12 310);
	--purple-4: oklch(48% 0.12 310);
}

.visual-refresh.theme-dark,
.visual-refresh .theme-dark {
	--activity-card-background: red;
	--autocomplete-bg: var(--bg-3);

	--background-mentioned: var(--mention-message);
	--background-mentioned-hover: var(--mention-message-hover);
	--background-message-highlight: var(--bg-2);
	--background-message-highlight-hover: var(--bg-3);
	--background-message-hover: var(--message-hover);

	--background-primary: var(--bg-4);
	--background-secondary: var(--bg-3);
	--background-secondary-alt: var(--bg-3);
	--background-tertiary: var(--bg-4);

	--bg-base-primary: red;
	--bg-base-secondary: var(--bg-4);
	--bg-base-tertiary: var(--bg-3);
	--background-mod-subtle: var(--bg-3);
	--background-mod-normal: var(--bg-3);
	--background-mod-strong: var(--bg-3);
	--background-base-low: var(--bg-4);
	--background-base-lower: var(--bg-4);
	--background-base-lowest: var(--bg-4);
	--background-surface-high: var(--bg-3);
	--background-surface-higher: var(--bg-3);
	--background-surface-highest: var(--bg-3);
	--background-floating: var(--bg-3);
	--chat-background-default: var(--bg-3);
	--input-background: var(--bg-3);
	--modal-background: var(--bg-4);
	--modal-footer-background: var(--bg-4);

	--background-modifier-accent: var(--hover);
	--background-modifier-active: var(--active);
	--background-modifier-hover: var(--hover);
	--background-modifier-selected: var(--active);

	--bg-mod-faint: var(--bg-3);
	--bg-mod-subtle: var(--bg-2);
	--bg-mod-strong: var(--bg-2);
	--bg-brand: var(--accent-2);

	--border-faint: var(--border-light);
	--border-subtle: var(--border);
	--border-normal: var(--border);
	--border-strong: var(--border);
	--input-border: var(--border);

	--button-danger-background: var(--red-3);
	--button-danger-background-active: var(--red-5);
	--button-danger-background-hover: var(--red-4);
	--button-danger-background-disabled: var(--red-5);
	--button-danger-border: var(--button-border);

	--button-filled-brand-background: var(--accent-2);
	--button-filled-brand-background-active: var(--accent-4);
	--button-filled-brand-background-hover: var(--accent-3);
	--button-filled-brand-border: var(--button-border);

	--button-filled-brand-inverted-background-active: red;
	--button-filled-brand-inverted-background-hover: red;
	--button-filled-brand-inverted-text: red;
	--button-filled-white-background-active: red;
	--button-filled-white-background-hover: red;
	--button-filled-white-text: var(--bg-4);

	--button-outline-danger-background: var(--bg-2);
	--button-outline-danger-background-active: var(--text-5);
	--button-outline-danger-background-hover: var(--bg-1);
	--button-outline-danger-border: var(--border-light);
	--button-outline-danger-border-active: var(--border-light);
	--button-outline-danger-border-hover: var(--border-light);
	--button-outline-danger-text: var(--red-1);
	--button-outline-danger-text-active: var(--red-1);
	--button-outline-danger-text-hover: var(--red-1);

	--button-positive-background: var(--green-2);
	--button-positive-background-active: var(--green-4);
	--button-positive-background-hover: var(--green-3);
	--button-positive-background-disabled: var(--green-4);
	--button-positive-border: var(--button-border);

	--button-secondary-background: var(--bg-2);
	--button-secondary-background-active: var(--text-5);
	--button-secondary-background-hover: var(--bg-1);
	--button-secondary-background-disabled: var(--bg-3);
	--button-secondary-text: var(--text-3);

	--button-transparent-background: red;
	--button-transparent-background-active: red;
	--button-transparent-background-hover: red;
	--button-transparent-text: red;

	--card-primary-bg: var(--bg-3);
	--card-secondary-bg: red;
	--channel-icon: var(--text-3);
	--channels-default: var(--text-4);

	--header-primary: var(--text-2);
	--header-secondary: var(--text-4);
	--header-muted: var(--text-4);

	--icon-muted: var(--text-5);
	--icon-primary: var(--text-3);
	--icon-secondary: var(--text-4);
	--icon-tertiary: var(--text-4);

	--info-danger-background: red;
	--info-danger-text: red;
	--info-help-background: color-mix(in hsl, var(--blue-1), #00000000 80%);
	--info-help-foreground: var(--blue-1);
	--info-help-text: red;
	--info-positive-background: green;
	--info-positive-text: green;
	--info-warning-background: yellow;
	--info-warning-text: yellow;

	--text-primary: var(--text-3);
	--text-secondary: var(--text-4);
	--text-normal: var(--text-3);
	--text-default: var(--text-3);
	--text-tertiary: var(--text-4);
	--text-muted: var(--text-5);
	--text-link: var(--accent-1);

	--interactive-normal: var(--text-4);
	--interactive-hover: var(--text-3);
	--interactive-active: var(--text-3);
	--interactive-muted: var(--text-5);

	--channel-text-area-placeholder: var(--text-5);

	--scrollbar-auto-thumb: var(--bg-3);
	--scrollbar-auto-track: transparent;
	--scrollbar-thin-thumb: var(--bg-3);
	--scrollbar-thin-track: transparent;

	--brand-360: var(--accent-1);
	--brand-500: var(--accent-2);
	--blurple-50: var(--accent-2);
}

.visual-refresh {
	::placeholder {
		color: var(--text-5);
	}

	.modeUnreadImportant__2ea32 .icon__2ea32,
	.wrapper__2ea32:hover .icon__2ea32 /* correct channel icon color */ {
		color: var(--text-3);
	}

	.text_b88801 > strong /* xxx is typing.. */ {
		color: var(--text-3);
	}

	.folder__48112[aria-expanded="false"] > .folderIconWrapper__48112 /* collapsed folders */ {
		--background-primary: var(--bg-3);
	}

	.panel__5dec7 /* game activity panel */,
	#vc-spotify-player /* vencord spotify plugin */ {
		background-color: var(--bg-4);
	}

	.side_b3f026 .item_b3f026:hover /* settings tab */ {
		background-color: var(--bg-3) !important;
	}
	.side_b3f026 .item_b3f026:active,
	.side_b3f026 .item_b3f026.selected_b3f026 {
		background-color: var(--bg-2) !important;
	}

	.expandedFolderIconWrapper__48112 > svg {
		color: var(--accent-1) !important;
	}

	.divider__5126c /* unread divider */ {
		--divider-color: var(--unread-red);
	}

	.numberBadge__2b1f5 /* unread number badge */ {
		background-color: var(--unread-red) !important;
	}

	.mentioned__5126c:before /* mention message left edge */ {
		background-color: var(--mention-yellow) !important;
	}

	.barButtonAlt__0f481 /* unread bar mark as read button */ {
		--button-secondary-background: var(--accent-2);
		--button-secondary-background-hover: var(--accent-3);
	}
}
