@property --small-user-panel {
    syntax: 'on | off';
    inherits: false;
    initial-value: off;
}

@container body style(--small-user-panel: on) {
    .visual-refresh {
        .base_c48ade {
            grid-template-areas:
                'titleBar titleBar titleBar'
                'guildsList notice notice'
                'guildsList channelsList page'
                'guildsList userPanel page';
        }
        .panels_c48ade {
            max-width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width));
        }
    }
}
