body {
    --window-control-size: 14px;
}

@property --custom-window-controls {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

@container body style(--custom-window-controls: on) {
    .c38106a3f0c3ca76-winButtons {
        gap: 0;
        padding-right: calc(var(--gap) - (var(--window-control-size) / 2) + 1px);
    }
    .c38106a3f0c3ca76-winButtons::before {
        margin-right: calc(var(--custom-app-top-bar-height) / 4);
    }
    .c38106a3f0c3ca76-winButton > svg {
        display: none;
    }
    .c38106a3f0c3ca76-winButton {
        background: none !important;
        width: calc(var(--window-control-size) * 2);
        height: var(--custom-app-top-bar-height);
    }
    .c38106a3f0c3ca76-winButton::after {
        display: block;
        content: '';
        height: var(--window-control-size);
        width: var(--window-control-size);
        border-radius: 50%;
    }
    .c38106a3f0c3ca76-winButton:hover::after {
        filter: brightness(0.7);
    }
    .c38106a3f0c3ca76-winButton:active::after {
        transform: scale(0.9);
    }
    .c38106a3f0c3ca76-winButtonClose::after {
        background-color: var(--dnd) !important;
    }
    .c38106a3f0c3ca76-winButtonMinMax:nth-child(1)::after {
        background-color: var(--idle) !important;
    }
    .c38106a3f0c3ca76-winButtonMinMax:nth-child(2)::after {
        background-color: var(--online) !important;
    }
}

@container body style(--custom-window-controls: off) and style(--top-bar-button-position: titlebar) {
    .visual-refresh {
        .c38106a3f0c3ca76-winButton {
            width: calc(var(--window-control-size) * 2);
            height: calc(var(--window-control-size) * 2);
        }
        .c38106a3f0c3ca76-winButtons {
            gap: 0;
        }
    }
}
